{% extends "conteneur.html" %}

{% block titre %}
| Nom | Création
{% endblock %}

{% block corps %}
	<h1>Nouvelle personne</h1>
    <form method="POST">
		<div class="mb-3">
		    <label for="hommeReco" class="form-label">Reconnaissance :</label>
		    <input type="text" step="0.000001" name="hommeReco" placeholder="Champ Requis" class="form-control" id="hommeReco" value="" />
		  </div>
    	 <div class="mb-3">
		    <label for="hommePrenom" class="form-label">Prenom :</label>
		    <input type="text" name="hommePrenom" class="form-control" id="hommePrenom" aria-describedby="hommePrenomHelp" value="" />
		  </div>
		  <div class="mb-3">
		    <label for="hommeNom" class="form-label">Nom :</label>
		    <input type="text" name="hommeNom" class="form-control" id="hommeNom" aria-describedby="hommeNomHelp" value="" />
		  </div>
		 <div class="mb-3">
		    <label for="hommeSexe" class="form-label">Sexe :</label>
		    <select name="hommeSexe" id="hommeSexe">
		    	{% for sexe in sexes %}
		    		<option value="{{sexe}}">
						{{sexe}}
			    	</option>
		    	{% endfor %}
		    </select>
		  </div>
    	 <div class="mb-3">
		    <label for="hommeLieu" class="form-label">Localite :</label>
		    <textarea name="hommeLieu" class="form-control" id="hommeLieu"></textarea>
		  </div>
		  <div class="mb-3">
		    <label for="hommePrecisionLieu" class="form-label">Précision sur localité :</label>
		    <textarea name="hommePrecisionLieu" class="form-control" id="hommePrecisionLieu"></textarea>
		  </div>
		  <div class="mb-3">
		    <label for="hommeInfo" class="form-label">Information personnelle :</label>
		    <textarea name="hommeInfo" class="form-control" id="hommeInfo"></textarea>
		  </div>
		  <input type="submit" name="Modifier" class="btn btn-primary" />
    </form>
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}