<!DOCTYPE html>
<html lang="fr">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Homines Devesseti {%block titre %}{%endblock%}</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
              <a class="navbar-brand" href="{{ url_for('accueil') }}">Homines Devesseti</a>
            </nav>
            <div class="row">
                <div class="col">
                {% block corps %}{% endblock %}
                </div>
            </div>
            </div>
    </body>
</html>