<html id="images" lang="fr lat">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Charte régulant le passage des hommes et biens de Devesset par Saint-Agrève</title>
      <meta name="author" content="Virgile Reignier">
   </head>
   <body>
      <h1 style="text-align:center;">Charte régulant le passage des hommes et biens de Devesset par Saint-Agrève</h1><span><a href="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Devoir_charte_Devesset_accueil.html">Retour présentation charte</a></span><div>
         <h2>Page 1 :</h2>
         <p data-section="1"><a href="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_1.jpg"><img src="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_1.jpg" alt="Page_1" height="100px"></a></p>
         <h2>Page 2 :</h2>
         <p data-section="2"><a href="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_2.jpg"><img src="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_2.jpg" alt="Page_2" height="100px"></a></p>
         <h2>Page 3 :</h2>
         <p data-section="3"><a href="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_3.jpg"><img src="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_3.jpg" alt="Page_3" height="100px"></a></p>
         <h2>Page 4 :</h2>
         <p data-section="4"><a href="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_4.jpg"><img src="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Images/Page_4.jpg" alt="Page_4" height="100px"></a></p>
      </div>
   </body>
</html>