{% extends 'conteneur.html' %} {% block corps %}
<h1 style="text-align:center;">Charte régulant le passage des hommes et biens de Devesset par Saint-Agrève</h1><span><a href="{{url_for('charte')}}">Retour présentation charte</a></span><div>
<h2>Page 1 :</h2>
<p data-section="1"><a href="{{url_for('static', filename='images/charte/Page_1.jpg')}}"><img alt="Page_1" height="100px" src="{{url_for('static', filename='images/charte/Page_1.jpg')}}"/></a></p>
<h2>Page 2 :</h2>
<p data-section="2"><a href="{{url_for('static', filename='images/charte/Page_2.jpg')}}"><img alt="Page_2" height="100px" src="{{url_for('static', filename='images/charte/Page_2.jpg')}}"/></a></p>
<h2>Page 3 :</h2>
<p data-section="3"><a href="{{url_for('static', filename='images/charte/Page_3.jpg')}}"><img alt="Page_3" height="100px" src="{{url_for('static', filename='images/charte/Page_3.jpg')}}"/></a></p>
<h2>Page 4 :</h2>
<p data-section="4"><a href="{{url_for('static', filename='images/charte/Page_4.jpg')}}"><img alt="Page_4" height="100px" src="{{url_for('static', filename='images/charte/Page_4.jpg')}}"/></a></p>
</div>
<nav aria-label="research-pagination" class="center-link"><p><a href="{{url_for('accueil')}}">Retour accueil</a></p></nav>{% endblock %}