<html id="index" lang="fr lat">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Charte régulant le passage des hommes et biens de Devesset par Saint-Agrève</title>
      <meta name="author" content="Virgile Reignier">
   </head>
   <body>
      <h1 style="text-align:center;">Charte régulant le passage des hommes et biens de Devesset par Saint-Agrève</h1><span><a href="file:/C:/Users/virgi/Desktop/Master%20TNAH/Python/Devoir_Python/Homines_Devesseti/templates/charte/Devoir_charte_Devesset_accueil.html">Retour présentation charte</a></span><h2>Index des noms propres :</h2>
      <div>
         <ul>
            <li>Guillaume Rochette :  (l. 2),  (l. 5),  (l. 10),  (l. 20),  (l. 29),  (l. 30),  (l. 32),  (l. 36),  (l. 43),  (l. 55),  (l. 75).</li>
            <li>Renaud de Fay :  (l. 3),  (l. 7),  (l. 10),  (l. 13),  (l. 37),  (l. 38),  (l. 43).</li>
            <li>Eustache de Lamastre :  (l. 3),  (l. 57),  (l. 62),  (l. 66).</li>
            <li>Cateherine de Bouzols :  (l. 36),  (l. 67),  (l. 72),  (l. 76).</li>
            <li>Armand de Polignac :  (l. 3),  (l. 48),  (l. 52),  (l. 56).</li>
            <li>Andrea Garralis :  (l. 9),  (l. 46),  (l. 48),  (l. 56),  (l. 57),  (l. 65),  (l. 67),  (l. 76),  (l. 77),  (l. 98),  (l. 101),  (l. 108),  (l. 110),  (l. 117),  (l. 119),  (l. 127),  (l. 128),  (l. 134).</li>
            <li>Pierre Ariberui :  (l. 76),  (l. 137).</li>
            <li>Pierre Girardi : AD69 48H 1671-3.</li>
            <li>Guillaume de sous Villeneuve de Devesset :  (l. 101),  (l. 109).</li>
            <li>Jean de la Chalins de Chaumargeais :  (l. 111),  (l. 114),  (l. 118).</li>
            <li>Jacques de Fay de Chaumargeais :  (l. 119),  (l. 123),  (l. 127).</li>
            <li>Jean Verilhati de Chaumargeais :  (l. 129),  (l. 132),  (l. 135).</li>
            <li>Charles IV :  (l. 2).</li>
            <li>Philippe VI :  (l. 47),  (l. 57),  (l. 67),  (l. 77),  (l. 101),  (l. 110),  (l. 119),  (l. 128).</li>
         </ul>
      </div>
      <h2>Index des toponymes :</h2>
      <div>
         <ul>
            <li>Commanderie de Devesset :  (l. 28),  (l. 35).</li>
            <li>Berthoux :  (l. 45),  (l. 98).</li>
            <li>Saint-Agrève :  (l. 5),  (l. 7),  (l. 8),  (l. 9),  (l. 13),  (l. 14),  (l. 16),  (l. 17),  (l. 21),  (l. 22),  (l. 23),  (l. 25),  (l. 25),  (l. 29),  (l. 31),  (l. 31),  (l. 32),  (l. 55),  (l. 56),  (l. 65),  (l. 75),  (l. 108),  (l. 116),  (l. 125),  (l. 134).</li>
            <li>Maujour :  (l. 15).</li>
            <li>Le Cholet :  (l. 15).</li>
            <li>Arcelet :  (l. 15).</li>
            <li>Champagne :  (l. 15).</li>
         </ul>
      </div>
   </body>
</html>