{% extends 'conteneur.html' %} {% block corps %}
<h1 style="text-align:center;">Charte régulant le passage des hommes et biens de Devesset par Saint-Agrève</h1><span><a href="{{url_for('charte')}}">Retour présentation charte</a></span><div>
<h4>Contenu de la charte :</h4>
<ul>
<li>1. 1327, 6
               juin, Berthoux. Accord
               entre Guillaume Rochette,
               bayle du castrum de Saint-Agrève et procureur d’Armand de Polignac et d’Eustache de Lamastre, seigneurs
               de ce castrum, et Renaud de
               Fay, commandeur de Devesset au sujet des droits de circulation
               des hommes et des troupeaux de Devesset dans le castrum et le mandement de
               Saint-Agrève.</li>
<li>2. Ratification de l'acte précédent par
               Armand de Polignac,
               seigneur de Saint-Agrève, le 22 juin
               1328.</li>
<li>3. Ratification de l'acte précédent par
               Eustache de Lamastre,
               seigneur de Saint-Agrève, le 22 juin
               1328.</li>
<li>4. Ratification de l'acte précédent par
               Catherine de
               Bouzols, épouse d'Armand de Polignac, le 28 août 1331.</li>
<li>5. Ratification de l'acte
               précédent par les hommes de
               Devesset, le 31 janvier
               1332.</li>
<li>6. Ratification de l'acte précédent par
               Guillaume de
               sous Villeneuve de Devesset, dans les jours suivants.</li>
<li>7. Ratification de l'acte précédent par
               Jean de Las
               Chalins de Chaumargeais, serf de la commanderie, le 28 mai 1335.</li>
<li>8. Ratification de l'acte précédent par
               Jacques de Fay de
               Chaumargeais, serf de la commanderie, le 29 mai 1335.</li>
<li>9. Ratification de l'acte précédent par
               Jean Verilhati de
               Chaumargeais, serf de la commanderie, le 29 mai 1335.</li>
</ul>
</div>
<div>
<h4>Ce texte nous est connu par trois documents :</h4>
<p>A. Original, rouleau de   parchemin  1390x550, AD 69, cote 48 H 1669.</p>
<p>B. Grosse sur parchemin, contemporaine de l'original, AD 69, cote 48 H 1671-3.</p>
<p>C. Copie sur feuilles de papier, style XVIIIème siècle, AD 69, cote 48 H 1671-4.</p>
<h4>Cette transcription est réalisée à partir de A et les lacunes sont complétées à
            partir de B (en gras) et de C (en gras et souligné) :</h4>
</div>
<div id="#acte_principal">
<div id="#accord_droits_passage">
<p>1.</p>
<div>
<p> (l. 1) Nov¹int univ¹si et ſinguli p¹ſentes parit¹
                  et futuri hoc ſens publicum inſtrume¯tum
                  inſpˁturi et audituri Q&amp; anno ab incarnat¯one domini milleſimo <b><u>tercentesimo vigesimo septimo die
                        vero</u></b> sexta me¯-(l. 2)-ſis
                  <b><u>junii</u></b>
<b><u>inclito principe </u></b><b>dno</b>
                  karolo <b>dei</b> gratia
                  rege francoȵ et <b>navarre</b>
<b><u>regnante</u></b>
</p>
</div>
<div>
<p>Cum int¹ Nobilem Guillum Rocheta
                  domicellum baiulum castri ſc¯i Agˆppavi
                  <b><u>procuratorem</u></b> etiam et nomi¯e
                  <b><u>procuratorio</u></b>
                  Nobilium  (l. 3) virorum dni <b><u>armandi</u></b>
<b>vicecom¯ podepni¯
                     militis</b> et heuſtachii de maſtra domicelli dominoȵ caſtˆ
                  ſc¯i Agˆppavi ut dicebat ex una ꝑte Et ve¯erabilem et religiosum virum <b><u>fratrem
                        Renaudum</u></b> de fayno or-(l. 4)-dinis hoſpitalis ſc¯i <b>Ioh¯is Ihrlmi¯ pˆceptorem caſtri</b>
                  ac domus deveſſeti nomi¯e suo ac dc¯a domϧ deveſſeti et hominu¯ ſuoȵ et dc¯e domus
                  deveſſeti et <b><u>prioris</u></b> ex
                  ꝑte <b><u>altera orta</u></b>
                  fuiſſet diſcordia ϧtrov¹ſia et
                  q¯ſtionis  (l. 5) mat¹ia suꝑ eo <b><u>videϧ qϧ dc¯us nobilis Guillus Rocheta
                        no¯i¯e ϼcuratorio</u></b> quo supˆ petebat et exigebat
                  pedacgium et polvoracgium ab hominibϧ dc¯i <b><u>domini
                        præceptoris et domus prædictæ</u></b> de
                  deveſſeto tranſentibϧ ꝑ villam  (l. 6) ſc¯i Agˆppavi et <b><u>eius</u></b>
<b>mandamentum</b>
<b>ducentibus beſtias</b>
                  omnias ſeu alias ǧſcumqȝ
                  quicumqȝ dc¯i homines ſeu aliqui ip¯oȵ
                  tranſitum ſuum faciebant ꝑ loca dc¯a cum <b><u>animalibus quibuscumque</u></b> ϼ quibϧ
                  et de quibϧ <b><u>consuetum est</u></b>
                  levare  (l. 7) pedacgium <b>et
                     polvoracgium apud ſc¯um
                     Agˆppavum</b> ꝑ dnos dc¯i loci
                  ſeu deputatos ab eis Dicto dno p¹ceptore no¯i¯e ſuo
                  z dc¯e domϧ
                  deveſſeti et hominu¯
                  suoȵ et dc¯e domus et <b><u>pro ipsis incontrarium dicente</u></b>
                  [dominus prior
                  quod]
                  [ipsi] homi-(l. 8)-<b>¯es</b> ſuos
                  <b>et</b>
<b>dc¯e domus</b> deveſſeti minime tene¹
                  solvere <b>dare</b> et
                  ſtare Nec etiam debere dare stare et solve¹ pedacgium et
                  polvoracgiu¯ apud ſc¯um Agˆppavum
                  et in eius <b>mandamento</b><b><u> pro
                        quacumque ratione occasione</u></b>
                  [...]
                   (l. 9) 
                  [...] et <b><u>immunes</u></b>
<b>apud </b><b>ſc¯</b> Agˆppavvum et in eius <b>mandamento</b> ab <b>omn¯ exact¯one</b>
                  p¹ſtat¯one et ſolut¯one pedacgii et polvoracgii
                  quoȵcumqȝ </p>
<p>Tandem dc¯e ꝑtes ϧſtitute in ſentia notarii et testium <b><u>infraſcriptorum</u></b>
                  Non errans [in  (l. 10) aliquo nec]
                  <b>decepte</b>
                  set bene c¹te et c¹tificate videϧ dc¯us nobilis Guillus Rocheta de jure
                  dc¯orum
                  dnoȵ ſc¯i Agˆppavi quoȵ eſt
                  ϼcurator et bene meditatϧ ut dicebat et dc¯us <b><u>dnus præceptor</u></b><b><u> de jure</u></b> ſuo et <b><u>dictæ  (l. 11) domûs</u></b>
<b>deveſſeti</b> et
                  hominu¯ suoȵ et dc¯e domus
                  deveſſeti et bene meditatϧ ut dicebat Suꝑ diſcordia ϧtrov¹ſia et
                  queſtion¯ p¹dc¯is et suꝑ quibuſdam aliis articulis
                  infraſc¹ptis cupientes Non[...] ſuꝑ amicab¯li-(l. 12)-<b>ter expensas et aufractus
                     litiam</b> et aurgiorum mat¹iam evitare suꝑ eiſdem
                  Sollep¯it¹sollepniter tranſegendo ϧcordaveru¯t nomi¯¯bϧ quibϧ
                  supˆ pacificav¹u¯t z tranſeg¹unt ꝑ modum qui
                  sequitur infraſc¹ptum </p>
</div>
<div>
<p>In <b>p¹mis</b> ex
                  cauſa ſollepnis  (l. 13) <b><u>transactionis convenerunt</u></b>
                  int¹ se dc¯e ꝑtes <b><u>nominibus
                        quibus ſupra</u></b> qϧ <b><u>idem dictus
                        præceptor</u></b> fr¯es et donati dc¯e domus
                  deveſſeti et eorum succeſſores ꝑpetuo sint
                  quitii liberi et immunes apud ſc¯um Agˆppavum et in toto ma¯dame¯to <b>eiϧdem</b>
                   (l. 14) <b>ab om¯i
                     p¹ſtatio¯e exactio¯e</b>
                  et ſolutio¯e pedacgii leyde et <b><u>polveragii</u></b>
                  cui[buscumque]
                  <b><u>et</u></b> qϧ ꝑ se vel ꝑ
                  alium ſeu alios poſſint tranſire et
                  tranſitum ſuum face¹ pure z libere ꝑ
                  caſtrum ſc¯i Agˆppavi et
                  eius mandame¯tum cu¯ <b>a¯i¯a-(l. 15)-libus</b> ſuis <b><u>et
                        ductore si quod</u></b> ϧducebant ſeu locabant in rippia vel
                  alibi pro fimandis t¹ris grangiaȵ de malodie sive del chalfalt de arcelleto de chauleto et de champanhis ſine solutio¯e seu
                  p¹ſtatio¯e pedacgii et polv[orac-(l. 16)-gii]
                  <b><u>quorumcumque</u></b> et inſuꝑ
                  poſſint et ip¯os liceat pure et libere blata sua vender˞ et a¯imalia quecu¯qȝ emere
                  apud ſc¯um Agˆppavum et in
                  mandame¯to eiuſdem abſqȝ
                  <b><u>præstatione</u></b> ſeu
                  solutio¯e leyde cuiuſcu¯qȝ </p>
<p>Item <b><u>convenerunt inter  (l. 17) se
                        dictæ partes nominibus quibus ſupra</u></b> ex causa
                  sollepnis tra¯sact¯onis qϧ homines dc¯e domus deveſſeti ϼ quolȝ trentenario
                  averis ab uno uſqȝ ad sum¯am qˆnqȝ
                  tre¯tenarioȵ et dimidium tranſente ꝑ villam ſc¯ Agˆppavi <b><u>et in eius  (l. 18) mandamentum</u></b><b><u>
                        ſi quod</u></b> locabant et adducebant de rippia cauſa
                  fimandi t¹ras ſuas dare et ſolvere deb¯ant ac etiam
                  teneantˁ dc¯is dominiſ sancti Agˆppavi rat¯one pedacgii tres denarios
                  tuȵ hoc acto qϧ de tre¯tenaris [...]
                   (l. 19) <b><u>nihil dare
                        teneantur</u></b> si v¹o dc¯um avere exedere ϧting¹et su¯mam
                  qˆnqȝ trentenarioȵ et dimidii ǧȝtumcu¯qȝ sit ſeu eſſe
                  pot¹it qϧ ϼ quolȝ ovili quod exinde face¹nt de
                  ip¯o avere dc¯i homines et
                  quilȝ ip¯oȵ dare z <b><u>ſolvere teneantur</u></b>
                   (l. 20) <b>et debeant</b>
<b><u>dictis dominis</u></b>
                  ratio¯e polvoracgii duos ſolid˞ et ſemis
                  tuȵ et eorum
                  baiulis unum caſeum </p>
<p>Item ϧvueneru¯t int¹ se dc¯e ꝑtes no¯iniibus
                  quibϧ ſupˆ ex cauſa ſollepnis
                  tranſa<b><u>ctionis</u></b> qϧ
                  homines
                  p¹dc¯i et <b>dictæ
                     domus</b>
                  [De]<b>veſſet</b><b>i  (l. 21) et</b>
<b><u>quilibet</u></b>
<b>ip¯oȵ</b>
                  poſſint et ip¯os liceat tranſire pure et libere et
                  tranſitum ſuum facere ꝑ caſtrum ſc¯i Agˆppavi et eius
                  mandame¯tum cum ani¯alibȝ
                  ſuis ϼp¹us et eoȵ <b><u>hospicio
                        Scurchelcis</u></b><a href="#fn1"> [1]</a>
                  [...]
                   (l. 22) <b><u>placuerit faciendum</u></b>
                  abſqȝ p¹ſtat¯one seu
                  ſolutio¯e pedacgii Hoc ſalvo et retento qϧ si ſunt aliqui de p¹dc¯s homi¯ibus qui
                  teneant denariatas quasſcu¯qȝ ad vendendum et ip¯i
                  <b><u>vel alicui ipsorum transitum suum
                        facerent per </u></b><b><u>castrum ſancti  (l. 23) agrrppavi</u></b> ſeu eius
                  mandame¯tum cum dc¯is denariatis tunc in
                  illo caſu ϼ qualȝ saumata unum denaȵ tuȵ ratio¯e pedacgii dc¯is
                  dnis dare et ſoluere teneantˁ aliter <b>pedacgium
                     apud</b>
                  [Sanctum]<b><u> Agˆppavu¯ ſeu in eiȝ
                        mandamento</u></b>
                   (l. 24) <b><u>dare et
                        ſolue¹</u></b> minime debeant nec etiam teneantˁ pret¹
                  ǧϧ in caſibϧ ſuꝑiϧ memoratis </p>
<p>Item ϧven¹unt int¹ se dc¯e ꝑtes no¯inibϧ
                  quibϧ ſuƥ ex causa ſollepnis
                  tranſactio¯[is]<b> qϧ Ƿvientes caſt¹ deveſſeti et quilibȝ
                     ip¯oȵ qui nu¯c  (l. 25)  ſunt v¯l qui
                     ϼ</b> te¯pore fu¹int poſſint
                  portare arma sua ꝑ villam ſc¯i
                  Agˆppavi et <b>eius</b>
                  ma¯dame¯tum eundo z redeundo
                  ſine offenſa tamen alicui facienda hoc acto et <b>adjuncto qϧ cum
                     villam ſc¯i Agˆppavi
                     intˆverint et  (l. 26) mora¯ ibide¯</b> face¹
                  vellent tu¯c in eo caſu quo ibidem moram face¹nt dc¯a
                  arma <b>pone¹</b> debeant in quadam
                  domo in qua notitiam h¯eant et ibidem dimite¹ <b>teneantur</b>
                  [...]
                  <b>rint  (l. 27) greſſus
                     ſuos</b> </p>
<p>Item ϧven¹unt int¹ se dc¯e ꝑtes nomi¯ibϧ
                  quibϧ suƥ ex cauſa sollepnis tra¯ſactio¯is
                  qϧ si Ƿvie¯tes et
                  familiares curie castˆ deveſſeti caꝑent aliquem <b>delatϧ qui in t¹ra et juridictio¯e dc¯i cast¹
                     deveſſeti</b>
                   (l. 28) aliquid ϧmiſiſſet et ip¯um
                  duce¹ vellent vˀſus deveſſetum ϼ juſtitia ibiȡ facienda de
                  eodem de et ſuꝑ hiis de quibϧ delatϧ
                  eſſet in juridictio¯e dc¯i cast¹
                  deveſſeti <b>tunc in iillo
                     caſu</b>
<b>dc¯i </b>[servientes]<b> cast¹ deveſſeti</b>
                   (l. 29) qui nu¯c sunt vel qui pro te¯pore fu¹int
                  dc¯um delatum tranſire poſſint ꝑ
                  ma¯dame¯tum et villam
                  ſc¯i Agˆppavi om¯i impedime¯to
                  ceſſante ita tamen qϧ dc¯um delatum
                  baiulis <b>ſeu curialibus ſc¯i
                     Agˆppavi</b><b>
                     remite¹ teneantur</b>
                   (l. 30) et debeant et facta remiſſione de dc¯o delato ut
                  p¹miſſum eſt baiuli ip¯i castˆ ſc¯i Agˆppavi
                  ſeu curiales dc¯i castˆ incontinen¯ et
                  ſine aliquo int¹vallo dc¯um <b>delatu¯</b>
                  Ƿvie¯tibϧ ſeu
                  curialibϧ <b>cur&amp; cast¹
                     deveſſeti</b><b> in
                     fine</b>
                   (l. 31) 
                  ma¯dame¯ti cast¹
                  sc¯i Agˆppavi
                  Reddere et deliberare debeant ac etiam teneantˁ om¯ibϧ
                  exeptio¯ibϧ et allegatio¯ibϧ poſt
                  poſitis et Remotis Et si ϧtinge¹t aliq° caſu qϧ
                  curiales deveſſeti
                  no¯ [...]
                  [Sanctum]
                  <b>Agˆppavu¯</b>
                   (l. 32) aliq¯ de curialibϧ dc¯i loci cui face¹nt
                  remiſſi¯em de dc¯o delato qϧ in eo caſu
                  dc¯um delatum duce¹ debeant in platea ſc¯i Agˆppavi et ibiȡ p¯ntare ſe ꝑatos remitte¹ dc¯um delatum si
                  <b><u>idem</u></b>
                  [...]
                   (l. 33) dc¯i cast¹ sc¯i Agˆppavi
                  ip¯um reciꝑet quo fc¯o p¹dc¯i curiales deveſſeti p¹dc¯um delatum
                  ſecum duce¹ poſſint et debeant pure libere et
                  impune et etiam om¯i impedime¯to
                  ceſſante Si v¹o <b>ϧtig¹et dc¯um delatu¯ aliquid de</b>-(l. 34)-linquiſſe in juridictio¯e
                  caſt¹ sc¯i Agˆppavi et idem delatus
                  ϼpt¹ delictum ϧmiſſum ꝑ eum in
                  juridictio¯e cast¹ deveſſeti minime judicaretˁ ad mortem
                  ꝑ judicem curie castˆ
                  deveſſeti Tunc in <b><u>casu</u></b>
                  [servientes seu
                  curiales]
                   (l. 35) caſtri deveſſeti dc¯um delatum
                  remitte¹ debeant dnis ſc¯i
                  Agˆppavi ſeu eoȵ curialibϧ in fine mandame¯ti cast¹
                  deveſſeti fc¯a p¹us exequtio¯e de eodem ꝑ curiales deveſſeti de hiis
                  qˆ ad ip¯os ꝑtine¯t<span> (Variante AD69 48H 1671-3 : "[...] om¯i inpedimento
                     ceſſante ")</span> </p>
<p>Item <b><u>ϧven¹unt int¹ se</u></b>
                   (l. 36) dc¯e ꝑtes nomi¯ibϧ quibϧ ſuƥ ex
                  cauſa solle¯pnis tra¯ſactio¯is qϧ dc¯us Guillus Rocheta
                  ϼcuret et ϼcurare debeat ac etiam teneatˁ cum effectu qϧ
                  dni
                  ſc¯i Agˆppavi p¹dc¯i ac etiam dna vicecomitiſſa
                  <b><u>podepniaci</u></b>
                   (l. 37) et simplicem requiſitio¯em dc¯i domini pˆceptoris ſeu eius
                  c¹ti mandati hanc p¹ſentem
                  tranſactio¯em et om¯ia z ſing¯la
                  suƥdc¯a in hoc p¹ſenti publico inſtr¯o ϧtenta
                  laudent apϼbent et ϧfirme¯t ac <b><u>etiam</u></b>
                  [...]
                   (l. 38) in eiſdem cum ſolle¯pnitatesollemnitate qua decet et qϧ dc¯us dnus pˆceptor
                  ϼcuret etiam cum eff¯tu qϧ homines domus
                  deveſſeti faciant illud idem et etiam fieri faciat hoc idem
                  ꝑ dnum
                  p¹orem alv¹nie p¹oratϧ ad ſola<b><u>m</u></b>
                  [et simpli]-(l. 39)-cem
                  requiſitio¯em dc¯oȵ dnorum
                  ſc¯i Agˆppavi ſeu eoȵ c¹ti mandati
                  </p>
</div>
<div>
<p>Hanc vˀo tanſactio¯em et om¯ia et ſingula
                  suƥdc¯a et infraſcˆpta in hoc pˆſenti publico
                  inſtrume¯to ϧtenta ſcd¯um qϧ
                  melius ſanius z firmiϧ <b>possu¯t dc¯</b>-(l. 40)-tari
                  incartari ſcribi intelligi ſive dici ad
                  tollendum et removendum in futurum om¯em oſcuritatem et om¯e dubium
                  ϼmiǷunt dc¯e ꝑtes nomi¯ibϧ quibϧ suƥ sub
                  pena quinǧginta libȵ tuȵ ratione [...]
                   (l. 41) ꝑ ꝑtem inhobedie¯tem ꝑti obedienti quotiens ϧtra
                  p¹dc¯a vel aliǧ de p¹dc¯is face¹t in aliquo vel veniret et
                  suꝑ ſc¯is dei evva¯geliis ab ip¯is corporalr¯ tactis
                  jurav¹u¯t attendere ꝑpetuo et illibate Volentes
                  [etiam]
                   (l. 42) dc¯e ꝑtes ſe poſſe et deber˞
                  ϧpelli ad attendendum et ϧplendum om¯ia z
                  ſing¯la suƥdicta ꝑ curiam z curiales dc¯i
                  dni nr¯i regis om¯ibus exceptio¯ibϧ
                  deffentio¯ibϧ et juris allegatio¯ibus poſt
                  po¯itis et rem[otis]
                  [...]
                   (l. 43) Guillus
                  Rocheta ꝑ bonoȵ dnoȵ
                  caſtri ſc¯i Agˆppavi pˆdc¯oȵ quoȵ
                  eſt ϼcurator ut dicebat et dc¯us dnus pˆceptor ꝑ bonoȵ suoȵ
                  captio¯em diſtractio¯em
                  ſayſinam z venditio¯em in quam et quos
                  ϧſentieru¯t ta<b>mq¯m in
                     ſuos judi</b>-(l. 44)-ces
                  ordinarios et se et om¯ia bona pˆdc¯a juridict¯oni
                  diſt¹ctui ϧpult¯oni z
                  cohertio¯i eoȵdem Nec non et vigori diſc¹tui et
                  cohert¯oni sigilli regii in bayll¯ia vall¯ie aučte regia
                  ϧſtituti suppoſueru¯t <b>ϼ pˆdc¯is om¯ibus et</b>
                   (l. 45) ſing¯lis attendendis et ϧplendis cum om¯i <b><u>juris renunciatione</u></b> ad pˆdc¯a
                  nečia ꝑit¹ et cautela </p>
<p>Acta fuerunt hec apud bertos anno et die
                  pˆdc¯is in quoȡ orto <b><u>juxta</u></b> villam dc¯i loci Teſtibϧ pňtibϧ fr¯ibϧ
                  <b>dnȵ
                     de</b>
                   (l. 46) solerio et Raynaudo de fayno ordinis hoſpitalis p¹dc¯i Raymu¯do
                  de villanova domicello Petro dulcis Guillo de
                  Ruppe Bonafide textoris et notario publico regio infraſc¹pto ꝑ
                  que¯ de p¹dc¯is <b><u>dictæ
                        partes</u></b>
                   (l. 47) ad invicem ϧceſǷerunt fieri eaȵ
                  cuilibȝ publicum et eiuſdem tenoris
                  inſtr¯um </p>
</div>
</div>
</div>
<div id="#ratification_Saint-Agrève">
<div id="#ratification_AdP">
<p>2.</p>
<p>Poſt hec anno domini milleſimo
               t¹centeſimo viceſimo octavo videlȝ die viceſima
               ſcd¯a mensis junii
               <b>inclito p¹ncipe </b><b>dno pho¯ dee gra</b>-(l. 48)-tia rege
               francoȵ regnan¯ In p¹sentia notarii et
               teſtium infraſc¹ptorum ꝑſonalr¯
               ϧſtitutus vir nobilis et potens
               dominϧ armandus vicecomes <b>podepni¯
                  miles dnus in ꝑte cast¹</b>
               [Sancti Agri]<b>ppavi non errans</b>
                (l. 49) in aliquo nec deceptus set bene c¹tus et c¹tificatus de p¹dc¯is et etiam de jure
               ſuo et bene p¹meditatϧ ut dicebat per se ſsuosque heredes et suceſſores predc¯am <b>tˆnsactio¯em et om¯ia et
                  sing¯la suƥdc¯a in hoc p¹</b>-(l. 50)-ſenti publico inſtrume¯to ϧtenta
               laudavit apϼbavit ratificavit et ϧfirmavit et etiam
               grata habuit et in eis ϧſentiit et univ¹ſa om¯ia et ſing¯la suƥdc¯a <b>ϼmiſit sub</b>
               [ypothece et obligatione omnium bonorum suorum]
                (l. 51) et suꝑ ſc¯is dei evva¯geliis ab ip¯o corporalr¯
               ſponte tactis juravit attendere et ϧtra per se vel ꝑ alium non
               venire quod si face¹t quod abſit voluit et
               ϧceſſit <b>qϧ nullathenϧ
                  audiatur sed qϧ om¯is audien¯ in judi</b>-(l. 52)-cio et extra eidem denegetur tamǧϧ venienti
               <b><u>contra suum proprium factum</u></b> ac
               etiam jurame¯tum Volens et ϧcedens dc¯us dnus vicecomes ſe
               poſſe ϧpelli ad attend<b>endu¯ p¹dc¯a ϼ curiam et curiales dc¯i dni  (l. 53) nr¯i reg˞ om¯ibus exept˞</b>
               deffentio¯ibϧ et <b>jur˞ allegat˞</b> poſtpoſitis z remotis videlȝ ꝑ bonoȵ
               suoȵ captio¯em diſtractio¯em
               sayſinam et venditio¯em in <b>quam et quos ϧſentiit tamǧϧm in ſuos judic˞ ordinar˞  (l. 54) et</b> se
               et om¯ia <b>bona ſua
                  juridictio¯i diſt¹ctui
                  ϧpultio¯i et cohertio¯i</b> eoȵdem sub
               ſigill<b>o</b> regio predc¯o
               suppoſuit ϼ predc¯is om¯ibus et ſing¯lis attendendis
               ϧple<b>nd˞ et</b>
               [inviolabiliter]
               <b>obǷrvend˞ cu¯ om¯i
                  jur˞ renu¯-(l. 55)-tiat˞</b> ad <b>p¹dc¯a
                  neseſſaȵ ꝑit¹ et cautela</b> </p>
<p><b>Acta fu¹unt h¯ ap¯d ſc¯um
                  Agˆppavu¯</b> in hoſpicio Guilli Rocheta
               domicelli anno et die suƥ
               ϼximis Testibϧ hiis pňtibus dno <b>Guillo de ſenareto milite</b>
<b>dno mʺth¯o ſabbo-(l. 56)-ti rectore
                  </b><b>eccl¯ie</b>
<b>ſc¯i</b>
               [Agrippavi]
               [...] Runerii et notario infraſc¹pto
               ꝑ quem de predc¯is dc¯us
               dominus vicecomes petiit sibi fieri publicum <b>inſtr¯um</b> </p>
</div>
<div id="#ratification_EdL">
<p>3.</p>
<p><b>Poſt hec anno
                  et die ſuƥ ϼxi¯is
                   (l. 57) eodem dno pho¯ rege
                  franc˞ regnante in p¹ſen¯ mei
                  not˞ p¹dc¯i et
                  teſt˞</b> infraſc¹ptoȵ
               ꝑſonalr¯ ϧſtitutus vir nobilis Heuſtachius de maſtra dnus de baſtia et ϼ ꝑte caſtri ſc¯i <b>Agˆppavi</b>
<b>no¯ errans in aliquo nˁ deceptϧ  (l. 58) ſed bn¯ c¹tϧ et c¹tifficatϧ de jure ſuo
                  et om¯ibus et ſingulis ſuƥdc¯is</b> et
               bene meditatϧ ut dicebat per se ſuosqȝ heredes z succeſſores p¹dc¯am
               tranſactio¯em et om¯ia z ſing¯la
               [supradicta]
               <b>in hoc p¹sen¯ puˁ° inſtr¯o
                  ϧte¯ta ſcd¯um qϧ meliϧ ſaniϧ et
                  firmiϧ poſſunt ſc¹bi dc¯ari
                  incartari intelligi sive dici ad tollendu¯</b>
                (l. 59) et remove¯dum in futurum om¯em <b>oſcuritate¯</b> licem ſeu queſtio¯em et om¯e
               dubium [laudavit] <b>aϼbavit ratifficavit et ϧfir</b>[mavit]
               <b>et p¹dc¯a om¯ia gˆta
                  h¯ueruntqȝ rata et in eis ϧſentiit Et
                  p¹dc¯a om¯ia attende¹</b>
                (l. 60) ϼmiſit bona fide sub ypothece et <b>obligat˞ om¯ium bonoȵ
                  ſuoȵ et ſuꝑ ſc¯is dei evva¯geliis ab ip¯o
                  corporalr¯ ſponte tactis  (l. 61) juravit et ϧtˆ
                  no¯</b>
               [venire]
               <b>ꝑ ſe</b>
               [vel]
               <b>ꝑ alium quod ſi fac¹et
                  qd¯ absit voluit et</b> ϧceſſit qϧ in
               judicio et extra nullathenus <b>audiatˁ
                  ſed qϧ</b> om¯is audientia ſibi denegetˁ
               tamǧϧ venien¯ ϧtra ſuum <b>ϼpˆu¯ fc¯um ac et˞  (l. 62) juraˁˇˋ
                  Volens et ϧcede¯s dc¯ϧ dnus de baſtia ſe poſſe et
                  debeˆ ϧpelli ad attende¯dϧ p¹dc¯a ϼ cur˞ et
                  curial¯</b> pˆdc¯i domini <b>nr¯i reg˞ om¯ibus</b>
               exceptio¯ibϧ deffent¯onibϧ et juris
               allegatio¯ibus poſt <b>poſit˞ et remot˞ vide</b>-(l. 63)-licȝ ꝑ <b>bonoȵ ſuoȵ
                  capt˞m distˆxione¯ ſaysina¯ et vendit˞m
                  in qua¯ et quos ϧſentiit tamǧϧm in ſuos judic˞ ordinar˞</b> et <b>ſe et om¯ia bona
                  ſua</b> juridict¯oni ϧpult¯oni
               diſtˆctui et cohert¯oni eoȵdem Nec <b>no¯ et vigoris ac diſ</b>-(l. 64)-trictui dc¯i <b>ſigilli reg˞i
                  ſuppo</b>ſuit ϼ predc¯is om¯i[bus et
               singulis attendendis complendis et inviola]<b>bilr¯</b> obǷvandis cum om¯i juris
               renu¯ciantes ad predc¯a nečia parit¹ et cautela </p>
<p>Acta fueru¯t hec <b>anno et die ſuƥ
                   (l. 65) ϼxi¯is ap¯d ſc¯um Agˆppavu¯</b> in
               for[r]ello Petronille Arma<b>¯dona</b> <b>teſt˞ hiis
                  p¹ſen¯</b>
               magiſtro Petro de ſancto vincentio notario regio
               Guill¯mo fumati Petro ariberii Guill¯mo la <b><u>ravasse</u></b>
               [et]
               <b><u>notario</u></b>
                (l. 66) regio infraſc¹pto per quem de
               predc¯is om¯ibϧ et ſingulis dc¯us dnus de bastia petiit sibi fieri publicum
               inſtr¯um </p>
</div>
<div id="#ratification_CdB">
<p>4.</p>
<p>Poſt hec anno domini milleſimo
               t¹centeſimo triceſimo p¹mo videlȝ die <b><u>viceſimâ</u></b>
<b>octava menǷ</b>
                (l. 67) auguſti
               dc¯o domino pho¯ rege francoȵ regnanˉ In p¹ſentia notarii et teſtium infraſc¹ptoȵ
               ꝑſonali¯ ϧſtituta nobilis et potens domina Kath¹ina de bouſolio consors viri nobilis et <b>potent˞ dni Ar</b>-(l. 68)-mandi vicecomitis podepniaci militis non errans in aliquo nec decepta set bene c¹ta et c¹tificata de jure suo et om¯ibϧ et
               ſingul¯ suƥdc¯is et bene p¹meditata ut dicebat ꝑ se
               ſuos[que heredes et successores]  (l. 69) de et cu¯ conſenſu voluntate et
               aſſenſu dc¯i dni vicecomittis mariti ſui p¹ſentis ibidem quod etiam vˀum
               eſſe dicebat predc¯am tranſactio¯em et
               om¯ia et sing¯la suƥdc¯a in hoc <b><u>presens</u></b>
<b>puˁ° inſtr¯o</b>
                (l. 70) ϧtenta la<b><u>udavi</u></b>t apϼbavit ratifficavit et ϧfirmavit et
               predc¯a om¯ia attendere ϼmiſit bona fide sub ypotheca et obligat¯oni om¯ium bonoȵ ſuoȵ et suꝑ ſc¯is dei
               evva¯geliis ab <b>ip¯is
                  corporalr¯ ſponte tact˞</b>
                (l. 71) juravit et etiam conť non venire ꝑ se vel per alium
               quod si face¹t quod abſit voluit et ϧceſſit
               qϧ in judicio et extra nullathenus audiatur set qϧ om¯is audientia <b>eide¯
                  denegari</b>
               [valeat]
               <b>tamǧϧm venien</b>-(l. 72)-ti conť ſuum ϼpriu¯ factu¯ ac
               etiam jurame¯tum Volens et ϧcedens dc¯a domina Kat¹ina se
               poſſe et debere ϧpelli ad attendendum p¹dc¯a ꝑ curiam
               et <b>curial¯ dc¯i dni nr¯i
                  reg˞ om¯ibus exept˞</b>  (l. 73) deffent¯onibus et juris
               <b>allegat˞</b> poſt
               poſitis et remotis videlȝ per bonorum ſuorum
               captio¯em diſtractio¯em
               ſayſinam et <b>vendit˞m in qua¯ et quoſ</b>
               [consentiit]
               <b>tamǧϧm in ſuos judic˞
                  ordinar˞ et ſe et</b>
                (l. 74) om¯ia bona sua juridict¯oni districtui
               ϧpult¯oni et cohert¯oni eoȵdem sub sigillo regio predc¯o supposuit
               ϼ predc¯is om¯ibus et <b>sing¯lis
                  attende¯dȝ</b> et ꝑpetuo obǷvandis cum <b>om¯i jur˞ renu¯cia</b>-(l. 75)-tione ad predc¯a neceſſaria
               parit¹ et cautela </p>
<p>Acta fuerunt hec apud ſanctum Agˆppavum in hoſpicio Guilli
               Rocheta anno et die <b><u>ſuperius proximis</u></b> <b>teſt˞ hiis
                  p¹ſen¯ dnis vitale vicesǷi</b>
                (l. 76) et andrea garralis ſbiteris
               Guillermo de chambarlhaco domicello et magiſtro andrea garrallis notario regio infraſc¹pto
               per quem de predictis <b>om¯ibϧ et ſing¯lis dc¯a dna katherina petiit</b>
                (l. 77) sibi fieri publicum inſtrume¯tum </p>
</div>
</div>
<div id="#ratification_Devesset">
<div id="#ratification_homines_devesseti">
<p>5.</p>
<p>Post hec anno domini quo suƥ et die ulitima
               menſis januarii
               dicto domino pho¯ rege francorum
               regnan¯ in p¹ſentia notarii predc¯i et <b><u>testium</u></b>
<b>infraſc¹pt˞
                  ꝑſonalr¯</b>
                (l. 78) conſtituti Petrus la rocha armandus de ruppe Joha¯nes filius
               Guilliermi de ruppe condam
               Peyruchonus duneyra de ruppe Petrus rotbandi pro se et matheo et michaele
               <b>eiϧ
                  fr¯ibϧ</b> <b>guillus trauſſat</b>
                (l. 79) de raſchaſſaco pro se et gregorio eius fratre [I]
               Gregorius blachoni michael blachoni Stephanus columbi pro se et Poncio columbi eius fratre de raſchaſſaco Johan¯es de aulamberio
               <b>et</b>
<b>guillusuillermus eiϧ</b>
                (l. 80) frater Andreas giri de vileta Petrus de rivieria pro se et michaele et Joha¯ne
               eius fratribϧ Anthonius de chabanaas Poncius
               de croſo andreas de croſo pro se et peyruchono et <b>andrenono eiϧ</b>
                (l. 81)  fratribus martinus de la coſta et Paſcalis
               de la costa pro se et
               Joha¯ne eorum nepote Johan¯es de jarrias et
               Bartholom¯us de jarrias Andreas de jalibertas pro se et
               <b>Ioh¯e
                  eiϧ fr¯e</b>  (l. 82) Jacobus de la valleta poncius filius hugonis de la valleta Vitalis de ſpayetis pro se et jacobo de ſpayetis et Joha¯na filia
               Joha¯nis de ſpayetis condam Giraudus de bargiis pro <b>ſe</b> et ka<b>therina</b>
                (l. 83) eius ſorore et
               Guigone filie
               bartholomei de bargiis condam Jacobus de filatranna pro se et arnaudo eius fratre, Petrϧ de mo¯tabonello Jacobus tavani pro se et andrea
               <b>et michaele eiϧ</b>
                (l. 84) fratribϧ Bonafides Del
               Sape pro se et bartholomeo eius fratre Johan¯es de chanicros ſive de podio brunent
               Guill¯mus de gararytz Joha¯nes del feu pro se z
               Gregorio <b>eiϧ
                  fr¯e</b> <b>pon¯</b>
                (l. 85) de chanils pro se et
               Joha¯ne eius fratre Jacobus de chanils pro se et
               Jacobo eius nepote Armandus de bertos, Girardonus de
               <b>b¯tos</b> michael de bertos ϼ ſe et
               Guill¯mo <b>eiϧ fr¯e</b> <b>Ioh¯es</b>
                (l. 86) et Peyruchonus paſtorelli de bertos fratres Joha¯nes de frigidis ꝑietibϧ Peyruchonus Roerii de Ruppe pro se et
               Bartholomeo eius fratre ac
               Guill¯mo barthi eius amiculo <b>vital¯ verilhati ϼ</b>
                (l. 87) se et Durando eius
               ϧſanguineo Joha¯nes Jordani
               Vitalis de varaytz de villa nova Joha¯nes pelhiſǷii
               Guill¯mus pelhicerii Gregorius pelhicerii pro se et fratribϧ
               ſuis <b>pe¯
                  pelhiǷii ϼ ſe</b>
                (l. 88) et cleme¯te pelhicerii de malagayta <b>andr˞</b> de ruela durandus chantayres dc¯i loci Petronilla conha pro se et liberis ſuis Joha¯nes garaytonis michaletus <b><u>Saluavel</u></b>
<b><u>et</u></b>
<b>Ioh¯es de bargiis</b> <b>pe¯</b>
                (l. 89) de bargiis et Guill¯mus de Ruella pro se et girardo eius fratre
               homines licgii ut dicebant dc¯i domini Pˆceptoris ac domus pˆdicte de Deveceto  om¯es <b>in
                  ſim¯l et qˆlibȝ eoȵ ϼ ſe et
                  qˆbϧ</b>
                (l. 90) ſupra nomi¯ibϧ ſingularit¹
               singuli et ꝑticularit¹ pro se z ſuis heredibus ac
               succeſſoribϧ univ¹ſis c¹tificati p¹mitus de
               om¯ibus z ſingulis ſupra<b>dc¯is p¹dc¯am</b>
               [transactionem]
               <b>et om¯ia et</b>
                (l. 91) singula suƥdicta laudaveru¯t apϼbaveru¯t grata
               z rata habuerunt et in eis ϧſentieru¯t et predc¯a
               om¯ia et singula ϼmisǷunt sub ypotheca et <b>obligat˞ om¯ium bonoȵ suoȵ
                  et</b>
                (l. 92) suꝑ ſanctis dei evva¯geliis ab ip¯is z
               eorum quolibȝ corporalr¯ ſponte tactis juraveru¯t attendere et
               inviolabilr¯ obǷvare et contra nu¯ǧϧ facere vel <b><u>venire</u></b> [quod si faceret
               quod]
               <b>abſit</b>
                (l. 93) voluerunt et ϧcesǷunt <b>qϧ in</b> judico et extra nullathenus audiantur set qϧ eis et eorum cuilibȝ om¯is audientia denegari valeat
               tamǧϧ venientibus <b>ϧť eoȵ
                  fc¯a ϼp¹a ac et˞</b>
                (l. 94) juramenta Volentes et ϧcedentes om¯es p¹nomi¯ati et eorum
               quilibȝ per se se poſſe et debere ϧpelli ad
               attendendu¯ om¯ia et ſingula ſuƥdc¯a per <b><u>curiam ordinariam dicti</u></b>
               [domini nostri]
                (l. 95) regis om¯ibus except¯onibus defentio¯ibus et Juris allegatio¯ibus poſt poſitis et remotis
               videlȝ per bonorum ſuorum captio¯em
               distractio¯em sayſinam et <b>vendit˞m in qua¯ et quos</b>
                (l. 96) conſentierunt tamǧϧ in ſuos judices <b>ordinar˞</b> et se et om¯ia bona
               ſua juridict¯oni diſtrictui compult¯oni
               z cohert¯oni eorumdem sub ſigillo regio predc¯o
               [supposuit pro]
                (l. 97)  predc¯is om¯ibus et <b><u>ſingulis attendendis et perpetuo ac inv</u></b>iolabilr¯
               obǷvandis cum omni juris renu¯ciation¯ ad predc¯a
               necceſſaria parit¹ et cautela </p>
<p>Acta <b>fu¹unt h¯ ap¯d  (l. 98) b¯tos juxˇ
                  gˆngiam Arma¯deti dc¯i loci anno quo
                  š</b> et die ſupra ϼxima Teſtibus hiis p¹ſentibus auſtorgio de layreſſet
               Joha¯ne chalvayronis petro dulcis Guillo [...]
               [et]
               <b><u>no-(l. 99)-tario</u></b>
               [publico]
               <b><u>regio
                     infraſcripto</u></b> per <b><u>quem</u></b>
               [de predictis]
               <b><u>frater reymondus</u></b>
               alamandi ordinis hoſpitalis p¹dicti
               petiit et p¹dicti
               homines ſibi conceſǷunt ac etiam
               petier<b>u¯t s¹ fier˞
                   (l. 100) et et˞ ϧceſǷu¯t fier˞
                  puˁ˝˺ inſtr¯um et puˁ° inſtr¯a</b> ad utilitatem et comodum dominoȵ
               caſtri sancti Agˆppavi predc¯orum </p>
</div>
<div id="#ratification_GdsVdD">
<p>6.</p>
<p>Poſt hec anno <b>dni quo š et die deci¯a</b>
                (l. 101) [...]
               [dicto domino Philippo rege
               francorum] regnan¯ in ꝑſentia
               notar¯i
               suƥdc¯i et teſtium infraſc¹ptorum
               ꝑſonalit¹ conſtitutϧ Guill¯mus <b>ſub de villa nova deveſſeti homo licgiϧ dc¯i dni
                  p¹ceptor˞ et domϧ deveſſeti
                  p¹dc¯i</b>
                (l. 102)  certificatus de om¯ibus et ſingulis ſuƥdictis
               pro se et ſuis heredibus et suceſſoribϧ univ¹ſis
               <b>p¹dc¯am
                  ťnſact˞m et om¯ia et ſing¯la
                  suƥ</b>[dicta laudavit et aprobavit grata et
               rata]
                (l. 103) <b>habuit et</b> in eis
               ϧſentiit et predc¯a om¯ia et ſingula ϼmiſit sub
               ypotheca et obligat¯one <b>om¯ium
                  bonoȵ ſuoȵ et ſuꝑ ſc¯is dei avva¯geliis ab
                  ip¯o corporalr¯ ſponte tact˞ juravit
                  attende¹</b>
                (l. 104) et ϧtra non venire quod ſi fac¹et quod
               abſit voluit et ϧceſſit qϧ in judicio et <b>exť nullathenϧ audiatur ſed qϧ
                  om¯is au</b>[dientia sibi denegari valeat tamquam
               venienti]
                (l. 105) <b><u>contra</u></b> suum ϼprium
               factum ac etiam juramentum Volens et ϧcedens ſe
               poſſe ϧpelli <b>ad
                  attende¯dȝ p¹dc¯a ꝑ cur˞ et curial¯ dc¯i
                  dni nr¯i regis in qua¯ et quoſ ϧſentiit</b>
                (l. 106) tamǧϧ in <b>ſuos</b> judices ordinarios et se et om¯ia bona ſua
               juridict¯oni diſtrictui ϧpult¯oni <b>et cohert˞ eoȵde¯ ſub
                  ſigillo reg˞ p¹dc¯o ſuppoſuit ϼ
                  p¹dc¯is</b>
               [omnibus et]
               <b><u>ſingulis attendendis</u></b>
                (l. 107) et ꝑpet<b><u>u</u></b>o ac
               inviolabilr¯ obǷvandis cum om¯i juris renu¯ciatio¯e ad
               predc¯a <b>necessaȵ ꝑit¹ et
                  cautela</b> </p>
<p> (l. 108) <b>Acta fu¹unt h¯ in
                  fˆcta ſc¯
                  Agˆppavi juxta</b>
<b>hoſpic˞</b>
               Joha¯nis garralis Teſtibus <b>hiis</b> p¹ſentibϧ Joha¯ne garralis Johanne maſſoni de romeriis stpho¯o baiuli et notario publico <b>reg˞
                  p¹dc¯o</b>
                (l. 109) per quem de <b>p¹dc¯is om¯ibϧ et ſin</b><b><u>gulisdictus guillermus</u></b> petiit sibi fieri et etiam
               ϧceſſit fieri publicum inſtrum¯ntum ad
               utilitatem et comodum <b><u>dominorum</u></b>
               ſancti <b>ag¹ppa¯i
                  p¹dc¯oȵ</b>. </p>
</div>
<div id="#ratification_JdlCdC">
<p>7.</p>
<p> (l. 110) Poſt hec anno domini <b>mill¯imo</b>
               t¹centeſimo <b>t¹ceſimo
                  qˆnto</b> videlicȝ die viceſima octava menſis
               mayii
               dicto dno pho¯ rege francoȵ
               regnante in p¹sentia Notarii et teſtium <b>infraſc¹pt˞</b>
                (l. 111) ꝑſornalit¯r ϧſtitutus Joha¯nes de las chalins de <b><u>Chamarias</u></b> c¹tificatus
               de om¯ibus et ſingulis ſuƥdc¯is pro se z
               ſuis heredibϧ ac succeſſoribus univ¹ſi
               p¹dc¯am <b>ťnſact˞m et om¯ia et sing¯la
                  sup</b>-(l. 112)-radc¯a laudavit et
               apϼbavit <b>gˆta</b> z
               rata habuit et in eis ϧſentiit et p¹dicta om¯ia
               et ſingula ϼmiſit bona fide sub hypotheca et
               obligatio¯e om¯ium bonorum suorum et suꝑ ſc¯is dei
               <b>evva¯geliis</b>
                (l. 113) ab ip¯o corporalr¯ ſponte tactis juravit attendere et
               ϧtra non venire quod si fac¹et quod abſit voluit et
               ϧceſſit qϧ in judicio et extra nullathenus audiatur ſet qϧ om¯is audientia ſibi <b>denegar˞</b>
                (l. 114) valeat tamǧϧ venien¯ contra ſuum
               ϼp¹um factum ac etiam jurame¯tum Volens et
               ϧcedens dc¯us
               Ioh¯es ſe poſſe et debere ϧpelli ad
               attendendum om¯ia ſuƥdc¯a per curiam z curiales
               dc¯i dni  (l. 115) nostri regis franc˞ videlȝ per
               bonorum ſuorum captio¯em
               diſtractio¯em ſayſinam et
               venditio¯em in quam et quos ϧſentiit tamǧϧ in
               ſuos judices ordinarios et ſe et om¯ia bona <b>ſua juridict˞
                  diſt¹c</b>-(l. 116)-tui ϧpult¯oni et cohert¯oni eorumdem sub
               ſigillo regio predc¯o suppoſuit ϼ predc¯is Cum om¯i juris renu¯ciat¯one ad predc¯a
               neceſſaria parit¹ et cautela </p>
<p>Acta fuerunt hec <b>ap¯d ſc¯um
                  Agˆppavu¯</b>
                (l. 117) in hoſpitio Guill¯mi ariberui notarii regii anno et die suƥ
               ϼximis Teſtibϧ hiis p¹ſentibϧ
               Guill¯mo ariberui p¹dc¯o matheo runerii predc¯o Bonafide textoris et <b>not˞</b>
               [publico]
               <b>reg˞</b>
<b><u>infra</u></b>-(l. 118)-ſc¹pto per quem
               de predictis dictus Joha¯nes petiit sibi fieri <b>et et˞</b>
               ϧceſſit fieri publicum inſtrume¯tum
               ad opus ip¯ius et dnorum
               caſtri ſc¯i Agˆppavi predc¯orum </p>
</div>
<div id="#ratification_JdFdC">
<p>8.</p>
<p>Post <b><u>hæc</u></b>
<b><u>anno domini</u></b>
                (l. 119) quo suƥ videlȝ die viceſima nova menſis
               mayii
               dc¯o dno Philippo rege francoȵ
               regnan¯ In p¹ſentia notar˞i et teſtium
               infraſc¹ptorum p¹ſornalit¹ ϧſtitutϧ
               Jacobus <b>fayni de chalmariays</b>
<b>c¹tif</b>-(l. 120)-ficatus ad plenum de om¯ibus et ſingulis
               ſuƥdictis pro se et ſuis heredibus ac
               ſucceſſoribϧ univ¹ſis predc¯am
               tranſactio¯em et om¯ia et ſing¯la suƥdicta
               laudavit apϼbavit <b><u>et
                     ratifficavit</u></b>
                (l. 121) et in eis ϧſentiit et p¹dicta om¯ia
               attendere et Ƿvare ϼmiſit sub hypotheca et obligat¯one
               om¯ium bonorum ſuorum et ſuꝑ ſc¯ dei
               evvangeliis ab ip¯o corporalr¯ <b>tactis
                  juravit et ϧť non ve¯ire qd¯</b>
                (l. 122) si fac¹et quod abſit voluit et
               ϧceſſit qϧ in judicio nullathenϧ audiatur sȝ qϧ om¯is audientia sibi denegari valeat tamǧϧ venien¯
               contra ſuum ϼp¹um factum ac <b>et˞ juramˁˇˋ Volens et ϧ</b>-(l. 123)-cedens dc¯us Jacobus ſe
               poſſe et debere ϧpelli attendendum om¯ia z
               ſingula suƥdc¯a per curiam z curiales dc¯i domini
               nost¹ regis vidȝ ꝑ bonoȵ ſuorum
               captio¯em diſtractio¯em
               ſayſinam et <b>vendit˞m in qua¯</b>
                (l. 124) et quos conſentiit tamǧϧm in ſuos
               judices ordinarios et se et om¯ia z ſingula bona ſua
               juridict¯oni diſtrictui ϧpult¯oni et cohert¯oni
               eorumdem ſub sub ſigillo regio predicto <b>ſuppoſuit ϼ p¹</b>-(l. 125)-dictis om¯ibus et ſingulis attendendis et inv<b>i</b>olabilit¹ obǷvandis cum om¯i
               juris renu¯ciatio¯e ad predicta necessaria parit¹ et
               cautela </p>
<p>Acta fuerunt hec apud ſc¯um
               <b>Agˆppavu¯</b>
<b>in</b>
<b>hospic˞ mei</b>
                (l. 126) notarii suƥ et infraſc¹pti anno et
               die supra ϼximis Teſtibϧ hiis preſentibϧ Raymu¯do
               de ſahnna domicello dnis humberto de sorberio cononico charasii et bonifacio de <b><u>po</u></b><b>zato p¹ſb¯ris</b>
                (l. 127) et notario publico regio
               infraſc¹pto per quem de predc¯is dc¯us Jacobus
               ſibi fieri petiit et etiam fieri ϧceſſit
               publicum inſtrume¯tum ad opus eiuſdem et
               dnoȵ caſtri ſc¯i <b>Agˆppavi p¹</b>-(l. 128)-dictoȵ </p>
</div>
<div id="#ratification_JVdC">
<p>9.</p>
<p>Poſt hec anno die loco et
               teſtibus quibϧ ſupra ϼximis dc¯o dno Philippo rege francoȵ regnan¯ in
               p¹ſentia notarii ſuƥ
               et infraſc¹pti et teſtium ϼxime
               dictoȵ ꝑſon<b><u>aliter</u></b>
                (l. 129) Johannes verilhati de chalmariays c¹tificatus ad plenum ut dicebat de om¯ibus
               et ſingulis ſuƥdictis pro se et ſuis heredibus ac
               succeſſoribϧ <b>univ¹ſis</b> p¹dictam tranſactio¯em et
               <b>om¯ia et ſingula
                  ſuƥ</b>-(l. 130)-dicta laudavit
               et apϼbavit Rata <b>atqȝ</b> grata
               habuit et in eis conſentiit et p¹dicta om¯ia ſub hypotheca et
               obligat¯one om¯ium bonorum ſuorum
               ϼmiſit et <b><u>ſuper
                     ſanctis dei evangeliis</u></b>
<b>ab ip¯o corporalr¯ ſpo¯te  (l. 131) tactis</b> juravit attendere <b>et Ƿvare</b> et ϧtra non
               venire quod ſi <b>fac¹et</b> quod abſit voluit et ϧceſſit
               qϧ in judicio et extra nullathenus audiatur <b>sed qϧ om¯is audien¯ s¹
                  denegari valeat tamǧϧm  (l. 132) venien¯ ϧť ſuu¯
                  ϼp¹u¯ fc¯um</b> ac etiam jurame¯tum
               Volens et ϧcedens dc¯us Joha¯nes
               ſe poſſe et debere ϧpelli ad attendendum p¹dicta per
               curiam z curiales <b>dc¯i dni
                  nr¯i reg˞ vidȝ ϼ bonoȵ ſuoȵ
                  capt˞m  (l. 133) diſťctionem</b> ſayſinam
               z venditio¯eȝ in quam et quos ϧsentiit tamǧϧ
               in ſuos judices ordinarios et se et om¯ia bona ſua
               juridict¯oni diſt¹ctui ϧpult¯oni et
               cohert¯oni eoȵdem nec <b>no¯ et vigori et
                  diſt¹ctui dc¯i ſigilli  (l. 134) regii
                  ſuppoſuit</b> ϼ p¹dc¯is om¯ibus z
               ſingulis attendendis et inviolabilr¯ obǷvandis [II] </p>
<p>Acta fuerunt hec anno die loco et teſtibϧ suƥ
               ϼximis Et p¹fato
               ma[gi]ſtro andrea garralis <b>not˞ reg˞
                  p¹dc¯o</b>
                (l. 135) <b>ꝑ que¯ de
                  p¹dc¯is</b>
               dc¯us Ioh¯es
               petiit et etiam fieri conceſſit publicum inſtr¯um ad
               opus eiuſdem et dnorum caſtri
               ſc¯i Agˆppavi p¹dc¯orum
               Qui p¹dictis om¯ibus et <b>ſing¯lis p¹ſens fui  (l. 136) et p¹dc¯a
                  om¯ia</b> z ſing¯la notarii </p>
</div>
</div>
<div id="#renvois_internes">
<p>
</p><p>[I]
               vitalonus blachoni de raſchaſſaco ϼ se et petro eiϧ fr¯e </p>
<p>[II]
               Cum om¯i juris renu¯ciatio¯e ad p¹dc¯a nečia
               ꝑit¹ et cautela</p>
</div>
<p>De quibϧ quidem notis poſt deceſſum [...]
          (l. 137) [notarii]
         [ego Petrus]
         ariberui cl¯icus aučte regia [notarius] publicϧ
         ϧiſſariϧ deputatϧ in notis et ϼtocollis
         p¹dc¯i condam notarii Hoc pňs inſtr¯um publicu¯ hiis
         [presentibus] pellibϧ ꝑgameni sim¯l [...] (l. 138) [...] ſc¹pſi et [...] mea ϼp¹a et signo meo quo utor conſueto signavi
         in robur et teſtimonium om¯ium et ſing¯loȵ
         premiſſoȵ </p><span> (Variante AD69 48H 1671-3 : "de quibϧ notis hoc p¹ſens puˁ˝˺ inſtr¯um
         exťhi ſc¹bi et groſſari feci ꝑper
         Petru¯ girardi cl¯icum ſubſcriptu¯ et jur˞ meu¯ aučte reg˞ michi
         co¯iſſa et ϧceſſa fc¯a
         collatio¯e de nota cu¯ hoc p¹ſen¯ puˁ°
         inſtr¯o p¹sone et [...] piet˞ et curial¯ datu¯
         ut suƥ Cui ego jam dc¯is
         notar˞i manu mea ϼp¹ϧ
         ſubſc¹pſi ſignoqȝ meo ſignavi et ſigilo regio p¹dc¯o
         ſigillari debuit inſtrumentum prium
         p¹miſſor¯m <a href="#fn2"> [2]</a>")</span><div style="margin-top: 2%;">
<p id="fn1">[1] Le mot semble ici avoir été rajouté postérieurement par une autre main. D’une lecture
            difficile, il ne renvoit à rien qui nous soit connu dans le contexte étudié.</p>
<p id="fn2">[2] Le document présente aussi quelques mots illisibles dans le coin inférieur droit.</p>
</div>
<nav aria-label="research-pagination" class="center-link"><p><a href="{{url_for('accueil')}}">Retour accueil</a></p></nav>{% endblock %}