{% extends 'conteneur.html' %} {% block corps %}
<h1 style="text-align:center;">Charte régulant le passage des hommes et biens de Devesset par Saint-Agrève</h1><span><a href="{{url_for('charte')}}">Retour présentation charte</a></span><div>
<h4>Contenu de la charte :</h4>
<ul>
<li>1. 1327, 6
               juin, Berthoux. Accord
               entre Guillaume Rochette,
               bayle du castrum de Saint-Agrève et procureur d’Armand de Polignac et d’Eustache de Lamastre, seigneurs
               de ce castrum, et Renaud de
               Fay, commandeur de Devesset au sujet des droits de circulation
               des hommes et des troupeaux de Devesset dans le castrum et le mandement de
               Saint-Agrève.</li>
<li>2. Ratification de l'acte précédent par
               Armand de Polignac,
               seigneur de Saint-Agrève, le 22 juin
               1328.</li>
<li>3. Ratification de l'acte précédent par
               Eustache de Lamastre,
               seigneur de Saint-Agrève, le 22 juin
               1328.</li>
<li>4. Ratification de l'acte précédent par
               Catherine de
               Bouzols, épouse d'Armand de Polignac, le 28 août 1331.</li>
<li>5. Ratification de l'acte
               précédent par les hommes de
               Devesset, le 31 janvier
               1332.</li>
<li>6. Ratification de l'acte précédent par
               Guillaume de
               sous Villeneuve de Devesset, dans les jours suivants.</li>
<li>7. Ratification de l'acte précédent par
               Jean de Las
               Chalins de Chaumargeais, serf de la commanderie, le 28 mai 1335.</li>
<li>8. Ratification de l'acte précédent par
               Jacques de Fay de
               Chaumargeais, serf de la commanderie, le 29 mai 1335.</li>
<li>9. Ratification de l'acte précédent par
               Jean Verilhati de
               Chaumargeais, serf de la commanderie, le 29 mai 1335.</li>
</ul>
</div>
<div>
<h4>Ce texte nous est connu par trois documents :</h4>
<p>A. Original, rouleau de   parchemin  1390x550, AD 69, cote 48 H 1669.</p>
<p>B. Grosse sur parchemin, contemporaine de l'original, AD 69, cote 48 H 1671-3.</p>
<p>C. Copie sur feuilles de papier, style XVIIIème siècle, AD 69, cote 48 H 1671-4.</p>
<h4>Cette transcription est réalisée à partir de A et les lacunes sont complétées à
            partir de B (en gras) et de C (en gras et souligné) :</h4>
</div>
<div id="#acte_principal">
<div id="#accord_droits_passage">
<p>1.</p>
<div>
<p> (l. 1) Noverint universi et singuli presentes pariter
                  et futuri hoc presens publicum instrumentum
                  inspecturi et audituri,  quod anno ab incarnatione domini millesimo <b><u>tercentesimo vigesimo septimo die
                        vero</u></b> sexta men-(l. 2)-sis
                  <b><u>junii</u></b>
<b><u>inclito principe </u></b><b>domino</b>
                  Karolo <b>dei</b> gratia
                  rege francorum et <b>Navarre</b>
<b><u>regnante</u></b>.
                  </p>
</div>
<div>
<p>Cum,  inter nobilem Guillermum Rocheta
                  domicellum baiulum castri Sancti Aggripavi
                  <b><u>procuratorem</u></b> etiam et nomine
                  <b><u>procuratorio</u></b>
                  nobilium  (l. 3) virorum domini <b><u>Armandi</u></b>
<b>vicecomitis Podempniaci
                     militis</b> et Heustachii de Mastra domicelli dominorum castri
                  Sancti Aggripavi ut dicebat ex una parte et venerabilem et religiosum virum <b><u>fratrem
                        Renaudum</u></b> de Fayno or-(l. 4)-dinis Hospitalis Sancti <b>Johannis Iherusolomitani preceptorem castri</b>
                  ac domus Devesseti nomine suo ac dicta domus Devesseti et hominum suorum et dicte domus
                  Devesseti et <b><u>prioris</u></b> ex
                  parte <b><u>altera,  orta</u></b>
                  fuisset discordia,  controversia et
                  questionis  (l. 5) materia super eo <b><u>videlicet quod dictus nobilis Guillermus Rocheta
                        nomine procuratorio</u></b> quo supra petebat et exigebat
                  pedagium et polveragium ab hominibus dicti <b><u>domini
                        preceptoris et domus predicte</u></b> de
                  Devesseto transentibus per villam  (l. 6) Sancti Aggripavi et <b><u>eius</u></b>
<b>mandamentum</b>
<b>ducentibus bestias</b>
                  omnias seu alias quascumque
                  quicumque dicti homines seu aliqui ipsorum
                  transitum suum faciebant per loca predicta cum <b><u>animalibus quibuscumque</u></b> pro quibus
                  et de quibus <b><u>consuetum est</u></b>
                  levare  (l. 7) pedagium <b>et
                     polveragium apud Sanctum
                     Aggripavum</b> per dominos dicti loci
                  seu deputatos ab eis dicto domino preceptore nomine suo
                  et dicte domus
                  Devesseti et hominum
                  suorum et dicte domus et <b><u>pro ipsis. Incontrarium dicente</u></b>
                  [dominus prior
                  quod]
                  [ipsi] homi-(l. 8)-<b>nes</b> suos
                  <b>et</b>
<b>dicte domus</b> Devesseti minime tenere
                  solvere,  <b>dare</b> et
                  prestare nec etiam debere dare,  prestare et solvere pedagium et
                  polveragium apud Sanctum Aggripavum
                  et in eius <b>mandamento</b><b><u> pro
                        quacumque ratione occasione</u></b>
                  [...]
                   (l. 9) 
                  [...] et <b><u>immunes</u></b>
<b>apud </b><b>Sanct</b> Aggripavvum et in eius <b>mandamento</b> ab <b>omni exactione</b>, 
                  prestatione et solutione pedagii et polveragii
                  quorumcumque. </p>
<p>Tandem dicte partes constitute in presentia notarii et testium <b><u>infrascriptorum</u></b>
                  non errans [in  (l. 10) aliquo nec]
                  <b>decepte</b>
                  sed bene certe et certificate videlicet dictus nobilis Guillermus Rocheta de jure
                  dictorum
                  dominorum Sancti Aggripavi,  quorum est
                  procurator,  et bene premeditatus ut dicebat et dictus <b><u>dominus preceptor</u></b><b><u> de jure</u></b> suo et <b><u>dicte  (l. 11) domus</u></b>
<b>Devesseti</b> et
                  hominum suorum et dicte domus
                  Devesseti et bene premeditatus ut dicebat super discordia,  controversia et
                  questionis predictis et super quibusdam aliis articulis
                  infrascriptis cupientes non[...] super amicabili-(l. 12)-<b>ter expensas et aufractus
                     litiam</b> et aurgiorum materiam evitare super eisdem
                  sollemniter transegendo concordaverunt nominibus quibus
                  supra pacificaverunt et transegerunt per modum qui
                  sequitur infrascriptum. </p>
</div>
<div>
<p>In <b>primis</b>,  ex
                  causa sollemnis  (l. 13) <b><u>transactionis,  convenerunt</u></b>
                  inter se dicte partes <b><u>nominibus
                        quibus supra</u></b> quod <b><u>idem dictus
                        preceptor</u></b>,  fratres et donati dicte domus
                  Devesseti et eorum successores perpetuo sint
                  quitii,  liberi et immunes apud Sanctum Aggripavum et in toto mandamento <b>eiusdem</b>
                   (l. 14) <b>ab omni
                     prestatione,  exactione</b>
                  et solutione pedagii,  leyde et <b><u>polveragii</u></b>
                  cui[buscumque]
                  <b><u>et</u></b> quod per se vel per
                  alium seu alios possint transire et
                  transitum suum facere pure et libere per
                  castrum Sancti Aggripavi et
                  eius mandamentum cum <b>anima-(l. 15)-libus</b> suis <b><u>et
                        ductore si quod</u></b> conducebant seu locabant in rippia vel
                  alibi pro fimandis terris grangiarum de Malodie sive Del Chalfalt,  de Arcelleto,  de Chauleto,  et de Champanhis sine solutione seu
                  prestatione pedagii et polveragii
                  <b><u>quorumcumque</u></b> et insuper
                  possint et ipsos liceat pure et libere blada sua vendere et animalia quecumque emere
                  apud Sanctum Aggripavum et in
                  mandamento eiusdem absque
                  <b><u>prestatione</u></b> seu
                  solutione leyde cuiuscumque. </p>
<p>Item <b><u>convenerunt inter  (l. 17) se
                        dicte partes nominibus quibus supra</u></b> ex causa
                  sollemnis transactionis quod homines dicte domus Devesseti pro quolibet trentenario
                  averis ab uno usque ad summam quinque
                  trentenariorum et dimidium transente per villam Sanct Aggripavi <b><u>et in eius  (l. 18) mandamentum</u></b><b><u>
                        si quod</u></b> locabant et adducebant de rippia causa
                  fimandi terras suas dare et solvere debeant ac etiam
                  teneantur dictis dominis Sancti Aggripavi ratione pedagii tres denarios
                  turonenses. Hoc acto quod de trentenaris [...]
                   (l. 19) <b><u>nihil dare
                        teneantur</u></b>. Si vero dictum avere exedere contingeret summam
                  quinque trentenariorum et dimidii,  quantumcumque sit seu esse
                  poterit,  quod pro quolibet ovili quod exinde facerent de
                  ipso avere dicti homines et
                  quilibet ipsorum,  dare et <b><u>solvere teneantur</u></b>
                   (l. 20) <b>et debeant</b>
<b><u>dictis dominis</u></b>
                  ratione polveragii duos solidos et semis
                  turonensium et eorum
                  baiulis unum caseum. </p>
<p>Item convuenerunt inter se dicte partes nominiibus
                  quibus supra ex causa sollemnis
                  transa<b><u>ctionis</u></b> quod
                  homines
                  predicti et <b>dicte
                     domus</b>
                  Devesset<b>i  (l. 21) et</b>
<b><u>quilibet</u></b>
<b>ipsorum</b>
                  possint et ipsos liceat transire pure et libere et
                  transitum suum facere per castrum Sancti Aggripavi et eius
                  mandamentum cum animalibus
                  suis propriis et eorum <b><u>hospicio
                        Scurchelcis</u></b><a href="#fn1"> [1]</a>
                  [...]
                   (l. 22) <b><u>placuerit faciendum</u></b>
                  absque prestatione seu
                  solutione pedagii. hoc salvo et retento quod si sunt aliqui de predicts hominibus qui
                  teneant denariatas quasscumque ad vendendum et ipsi
                  <b><u>vel alicui ipsorum transitum suum
                        facerent per </u></b><b><u>castrum Sancti  (l. 23) Agrippavi</u></b> seu eius
                  mandamentum cum dictis denariatis,  tunc in
                  illo casu pro qualibet saumata unum denarium turonensem ratione pedagii dictis
                  dominis dare et soluere teneantur. Aliter <b>pedagium
                     apud</b>
                  [Sanctum]<b><u> Aggripavum seu in eius
                        mandamento</u></b>
                   (l. 24) <b><u>dare et
                        soluere</u></b> minime debeant nec etiam teneantur preter
                  quam in casibus superius memoratis. </p>
<p>Item convenerunt inter se dicte partes nominibus
                  quibus supra ex causa sollemnis
                  transaction[is]<b> quod servientes castri Devesseti et quilibet
                     ipsorum qui nunc  (l. 25)  sunt vel qui
                     pro</b> tempore fuerint possint
                  portare arma sua per villam Sancti
                  Aggripavi et <b>eius</b>
                  mandamentum eundo et redeundo
                  sine offensa tamen alicui facienda. Hoc acto et <b>adjuncto quod cum
                     villam Sancti Aggripavi
                     intraverint et  (l. 26) moram ibidem</b> facere
                  vellent,  tunc in eo casu quo ibidem moram facerent dicta
                  arma <b>ponere</b> debeant in quadam
                  domo in qua notitiam habeant et ibidem dimitere <b>teneantur</b>
                  [...]
                  <b>rint  (l. 27) gressus
                     suos</b>. </p>
<p>Item convenerunt inter se dicte partes nominibus
                  quibus supra ex causa sollemnis transactionis
                  quod si servientes et
                  familiares curie castri Devesseti caperent aliquem <b>delatum qui in terra et juridictione dicti castri
                     Devesseti</b>
                   (l. 28) aliquid commisisset et ipsum
                  ducere vellent versus Devessetum pro justitia ibidem facienda de
                  eodem,  de et super hiis de quibus delatus
                  esset in juridictione dicti castri
                  Devesseti,  <b>tunc in iillo
                     casu</b>
<b>dicti </b>[servientes]<b> castri Devesseti</b>
                   (l. 29) qui nunc sunt vel qui pro tempore fuerint
                  dictum delatum transire possint per
                  mandamentum et villam
                  Sancti Aggripavi omni impedimento
                  cessante,  ita tamen quod dictum delatum
                  baiulis <b>seu curialibus Sancti
                     Aggripavi</b><b>
                     remitere teneantur</b>
                   (l. 30) et debeant. Et facta remissione de dicto delato ut
                  premissum est,  baiuli ipsi castri Sancti Aggripavi
                  seu curiales dicti castri incontinenter et
                  sine aliquo intervallo dictum <b>delatum</b>
                  servientibus seu
                  curialibus <b>curie castri
                     Devesseti</b><b> in
                     fine</b>
                   (l. 31) 
                  mandamenti castri
                  Sancti Aggripavi
                  reddere et deliberare debeant ac etiam teneantur omnibus
                  exeptionibus et allegationibus post
                  positis et remotis. Et si contingeret aliquo casu quod
                  curiales Devesseti
                  non [...]
                  [Sanctum]
                  <b>Aggripavum</b>
                   (l. 32) aliquem de curialibus dicti loci cui facerent
                  remissinem de dicto delato,  quod in eo casu
                  dictum delatum ducere debeant in platea Sancti Aggripavi,  et ibidem presentare se paratos remittere dictum delatum si
                  <b><u>idem</u></b>
                  [...]
                   (l. 33) dicti castri Sancti Aggripavi
                  ipsum reciperet. Quo facto,  predicti curiales Devesseti predictum delatum
                  secum ducere possint et debeant pure,  libere et
                  impune,  et etiam omni impedimento
                  cessante. Si vero <b>contigeret dictum delatum aliquid de</b>-(l. 34)-linquisse in juridictione
                  castri Sancti Aggripavi et idem delatus
                  propter delictum commissum per eum in
                  juridictione castri Devesseti minime judicaretur ad mortem
                  per judicem curie castri
                  Devesseti,  tunc in <b><u>casu</u></b>
                  [servientes seu
                  curiales]
                   (l. 35) castri Devesseti dictum delatum
                  remittere debeant dominis Sancti
                  Aggripavi seu eorum curialibus in fine mandamenti castri
                  Devesseti,  facta prius executione de eodem per curiales Devesseti de hiis
                  qui ad ipsos pertinent<span> (Variante AD69 48H 1671-3 : "[...] omni inpedimento
                     cessante ")</span>. </p>
<p>Item <b><u>convenerunt inter se</u></b>
                   (l. 36) dicte partes nominibus quibus supra ex
                  causa sollemnis transactionis quod dictus Guillermus Rocheta
                  procuret et procurare debeat ac etiam teneatur cum effectu quod
                  domini
                  Sancti Aggripavi predicti ac etiam domina vicecomitissa
                  <b><u>Podepniaci</u></b>
                   (l. 37) et simplicem requisitionem dicti domini preceptoris seu eius
                  certi mandati hanc presentem
                  transactionem et omnia et singula
                  supradicta in hoc presenti publico instrumento contenta
                  laudent,  approbent et confirment ac <b><u>etiam</u></b>
                  [...]
                   (l. 38) in eisdem cum sollemnitate qua decet et quod dictus dominus preceptor
                  procuret etiam cum effectu quod homines domus
                  Devesseti faciant illud idem et etiam fieri faciat hoc idem
                  per dominum
                  priorem Alvernie prioratus ad sola<b><u>m</u></b>
                  [et simpli]-(l. 39)-cem
                  requisitionem dictorum dominorum
                  Sancti Aggripavi seu eorum certi mandati.
                  </p>
</div>
<div>
<p>Hanc vero tansactionem et omnia et singula
                  supradicta et infrascripta in hoc presenti publico
                  instrumento contenta secundum quod
                  melius,  sanius et firmius <b>possunt dic</b>-(l. 40)-tari
                  incartari,  scribi,  intelligi sive dici ad
                  tollendum et removendum in futurum omnem oscuritatem et omne dubium
                  promiserunt dicte partes nominibus quibus supra sub
                  pena quinquaginta librarum turonensium ratione [...]
                   (l. 41) per partem inhobedientem parti obedienti quotiens contra
                  predicta vel aliqua de predictis faceret in aliquo vel veniret et
                  super sanctis dei evvangeliis ab ipsis corporaliter tactis
                  juraverunt attendere perpetuo et illibate ; volentes
                  [etiam]
                   (l. 42) dicte partes se posse et debere
                  compelli ad attendendum et complendum omnia et
                  singula supradicta per curiam et curiales dicti
                  domini nostri regis omnibus exceptionibus, 
                  deffentionibus et juris allegationibus post
                  positis et rem[otis]
                  [...]
                   (l. 43) Guillermus
                  Rocheta per bonorum dominorum
                  castri Sancti Aggripavi predictorum quorum
                  est procurator ut dicebat et dictus dominus preceptor per bonorum suorum
                  captionem,  distractionem, 
                  saysinam et venditionem in quam et quos
                  consentierunt ta<b>mquem in
                     suos judi</b>-(l. 44)-ces
                  ordinarios et se et omnia bona predicta juridictioni, 
                  districtui,  compultioni et
                  cohertioni eorumdem. Nec non et vigori discretui et
                  cohertioni sigilli regii in bayllivia vallavie auctoritate regia
                  constituti supposuerunt <b>pro predictis omnibus et</b>
                   (l. 45) singulis attendendis et complendis cum omni <b><u>juris renunciatione</u></b> ad predicta
                  necessaria pariter et cautela. </p>
<p>Acta fuerunt hec apud Bertos,  anno et die
                  predictis in quodam orto <b><u>juxta</u></b> villam dicti loci,  testibus presentibus fratribus
                  <b>dominis
                     de</b>
                   (l. 46) Solerio et Raynaudo de Fayno ordinis Hospitalis predicti,  Raymundo
                  de Villanova domicello,  Petro Dulcis,  Guillermo de
                  Ruppe,  Bonafide Textoris et notario publico regio infrascripto per
                  quem de predictis <b><u>dicte
                        partes</u></b>
                   (l. 47) ad invicem concessererunt fieri earum
                  cuilibet publicum et eiusdem tenoris
                  instrumentum. </p>
</div>
</div>
</div>
<div id="#ratification_Saint-Agrève">
<div id="#ratification_AdP">
<p>2.</p>
<p>Post hec anno domini millesimo
               tercentesimo vicesimo octavo videlicet die vicesima
               secunda mensis junii
               <b>inclito principe </b><b>domino Philippo dei gra</b>-(l. 48)-tia rege
               francorum regnante,  in presentia notarii et
               testium infrascriptorum,  personaliter
               constitutus vir nobilis et potens
               dominus Armandus vicecomes <b>Podempniaci
                  miles dominus in parte castri</b>
               [Sancti Agri]<b>ppavi non errans</b>
                (l. 49) in aliquo nec deceptus sed bene certus et certificatus de predictis et etiam de jure
               suo et bene premeditatus ut dicebat per se ssuosque heredes et sucessores predictam <b>transactionem et omnia et
                  singula supradicta in hoc pre</b>-(l. 50)-senti publico instrumento contenta
               laudavit,  approbavit,  ratificavit et confirmavit et etiam
               grata habuit et in eis consentiit. Et universa omnia et singula supradicta <b>promisit sub</b>
               [ypothece et obligatione omnium bonorum suorum]
                (l. 51) et super sanctis dei evvangeliis ab ipso corporaliter
               sponte tactis juravit attendere et contra per se vel per alium non
               venire,  quod si faceret quod absit voluit et
               concessit <b>quod nullathenus
                  audiatur sed quod omnis audientia in judi</b>-(l. 52)-cio et extra eidem denegetur tamquam venienti
               <b><u>contra suum proprium factum</u></b> ac
               etiam juramentum ; volens et concedens dictus dominus vicecomes se
               posse compelli ad attend<b>endum predicta pro curiam et curiales dicti domini  (l. 53) nostri regis omnibus exeptionibus</b>, 
               deffentionibus et <b>juris allegationibus</b> postpositis et remotis videlicet per bonorum
               suorum captionem,  distractionem, 
               saysinam et venditionem in <b>quam et quos consentiit tamquam in suos judicios ordinarios  (l. 54) et</b> se
               et omnia <b>bona sua
                  juridictioni,  districtui, 
                  compultioni et cohertioni</b> eorumdem sub
               sigill<b>o</b> regio predicto
               supposuit pro predictis omnibus et singulis attendendis
               comple<b>ndis et</b>
               [inviolabiliter]
               <b>obserrvendis cum omni
                  juri renun-(l. 55)-tiatis</b> ad <b>predicta
                  nesessaria pariter et cautela</b>. </p>
<p><b>Acta fuerunt hec apud Sanctum
                  Aggripavum</b> in hospicio Guillermi Rocheta
               domicelli,  anno et die supra
               proximis,  testibus hiis presentibus domino <b>Guillermo de Senareto milite</b>, 
               <b>domino Mattheo Sabbo-(l. 56)-ti rectore
                  </b><b>ecclesie</b>
<b>Sancti</b>
               [Agrippavi], 
               [...] Runerii et notario infrascripto
               per quem de predictis dictus
               dominus vicecomes petiit sibi fieri publicum <b>instrumentum</b>. </p>
</div>
<div id="#ratification_EdL">
<p>3.</p>
<p><b>Post hec anno
                  et die supra proximis
                   (l. 57) eodem domino Philippo rege
                  francorum regnante,  in presentia mei
                  notarii predicti et
                  testium</b> infrascriptorum, 
               personaliter constitutus vir nobilis Heustachius de Mastra dominus de Bastia et pro parte castri Sancti <b>Aggripavi</b>
<b>non errans in aliquo nec deceptus  (l. 58) sed bene certus et certifficatus de jure suo
                  et omnibus et singulis supradictis</b> et
               bene premeditatus ut dicebat per se suosque heredes et successores predictam
               transactionem et omnia et singula
               [supradicta]
               <b>in hoc presenti publico instrumento
                  contenta secundum quod melius,  sanius et
                  firmius possunt scribi,  dictari, 
                  incartari,  intelligi sive dici ad tollendum</b>
                (l. 59) et removendum in futurum omnem <b>oscuritatem</b> licem seu questionem et omne
               dubium [laudavit],  <b>aprobavit ratifficavit et confir</b>[mavit]
               <b>et predicta omnia grata
                  habueruntque rata et in eis consentiit. Et
                  predicta omnia attendere</b>
                (l. 60) promisit bona fide sub ypothece et <b>obligatione omnium bonorum
                  suorum et super sanctis dei evvangeliis ab ipso
                  corporaliter sponte tactis  (l. 61) juravit et contra
                  non</b>
               [venire]
               <b>per se</b>
               [vel]
               <b>per alium,  quod si faceret
                  quod absit voluit et</b> concessit quod in
               judicio et extra nullathenus <b>audiatur
                  sed quod</b> omnis audientia sibi denegetur
               tamquam venienti contra suum <b>proprium factum ac etiam  (l. 62) juramentum
                  ; volens et concedens dictus dominus de Bastia se posse et
                  debere compelli ad attendendus predicta pro curiam et
                  curiales</b> predicti domini <b>nostri regis omnibus</b>
               exceptionibus,  deffentionibus et juris
               allegationibus post <b>positis et remotis vide</b>-(l. 63)-licet per <b>bonorum suorum
                  captionem,  distractionem,  saysinam et venditionem
                  in quam et quos consentiit tamquam in suos judices ordinarios</b> et <b>se et omnia bona
                  sua</b> juridictioni,  compultioni, 
               districtui et cohertioni eorumdem. Nec <b>non et vigoris ac dis</b>-(l. 64)-trictui dicti <b>sigilli regii
                  suppo</b>suit pro predictis omni[bus et
               singulis attendendis complendis et inviola]<b>biliter</b> observandis cum omni juris
               renunciantes ad predicta necessaria pariter et cautela. </p>
<p>Acta fuerunt hec <b>anno et die supra
                   (l. 65) proximis apud Sanctum Aggripavum</b> in
               for[r]ello Petronille Arma<b>ndona</b>,  <b>testibus hiis
                  presentibus</b>
               magistro Petro de Sancto Vincentio notario regio, 
               Guillermo Fumati,  Petro Ariberii,  Guillermo La <b><u>Ravasse</u></b>
               [et]
               <b><u>notario</u></b>
                (l. 66) regio infrascripto per quem de
               predictis omnibus et singulis dictus dominus de Bastia petiit sibi fieri publicum
               instrumentum. </p>
</div>
<div id="#ratification_CdB">
<p>4.</p>
<p>Post hec anno domini millesimo
               tercentesimo tricesimo primo videlicet die <b><u>vicesima</u></b>
<b>octava mensis</b>
                (l. 67) augusti
               dicto domino Philippo rege francorum regnante,  in presentia notarii et testium infrascriptorum, 
               personaliter constituta nobilis et potens domina Katherina de Bousolio consors viri nobilis et <b>potentis domini Ar</b>-(l. 68)-mandi vicecomitis Podepniaci militis non errans in aliquo nec decepta sed bene certa et certificata de jure suo et omnibus et
               singulis supradictis et bene premeditata ut dicebat per se
               suos[que heredes et successores],   (l. 69) de et cum consensu,  voluntate et
               assensu dicti domini vicecomitis mariti sui presentis ibidem quod etiam verum
               esse,  dicebat predictam transactionem et
               omnia et singula supradicta in hoc <b><u>presens</u></b>
<b>publico instrumento</b>
                (l. 70) contenta la<b><u>udavi</u></b>t,  approbavit,  ratifficavit et confirmavit et
               predicta omnia attendere promisit bona fide sub ypotheca et obligatione omnium bonorum suorum et super sanctis dei
               evvangeliis ab <b>ipsis
                  corporaliter sponte tactis</b>
                (l. 71) juravit et etiam contra non venire per se vel per alium, 
               quod si faceret quod absit,  voluit et concessit
               quod in judicio et extra nullathenus audiatur sed quod omnis audientia <b>eidem
                  denegari</b>
               [valeat]
               <b>tamquam venien</b>-(l. 72)-ti contra suum proprium factum ac
               etiam juramentum ; volens et concedens dicta domina Katerina se
               posse et debere compelli ad attendendum predicta per curiam
               et <b>curiales dicti domini nostri
                  regis omnibus exceptionibus</b>,   (l. 73) deffentionibus et juris
               <b>allegationibus</b> post
               positis et remotis videlicet per bonorum suorum
               captionem,  distractionem, 
               saysinam et <b>venditionem in quam et quos</b>
               [consentiit]
               <b>tamquam in suos judices
                  ordinarios et se et</b>
                (l. 74) omnia bona sua juridictioni,  districtui, 
               compultioni et cohertioni eorumdem sub sigillo regio predicto supposuit
               pro predictis omnibus et <b>singulis
                  attendendis</b> et perpetuo observandis cum <b>omni juris renuncia</b>-(l. 75)-tione ad predicta necessaria
               pariter et cautela. </p>
<p>Acta fuerunt hec apud Sanctum Aggripavum in hospicio Guillermi
               Rocheta,  anno et die <b><u>supra proximis</u></b>,  <b>testibus hiis
                  presentibus dominis Vitale Vicesseri</b>
                (l. 76) et Andrea Garralis presbiteris, 
               Guillermo de Chambarlhaco domicello et magistro Andrea Garrallis notario regio infrascripto
               per quem de predictis <b>omnibus et singulis dicta domina Katherina petiit</b>
                (l. 77) sibi fieri publicum instrumentum. </p>
</div>
</div>
<div id="#ratification_Devesset">
<div id="#ratification_homines_devesseti">
<p>5.</p>
<p>Post hec anno domini quo supra et die ulitima
               mensis januarii
               dicto domino Philippo rege francorum
               regnante,  in presentia notarii predicti et <b><u>testium</u></b>
<b>infrascriptorum
                  personaliter</b>
                (l. 78) constituti Petrus la Rocha,  Armandus de Ruppe,  Johannes filius
               Guilliermi de Ruppe condam, 
               Peyruchonus Duneyra de Ruppe,  Petrus Rotbandi pro se et Matheo et Michaele
               <b>eius
                  fratribus</b>,  <b>Guillermus Traussat</b>
                (l. 79) de Raschassaco pro se et Gregorio eius fratre, 
               Vitalonus Blachoni de Raschassaco pro se et Petro eius fratre,  
               Gregorius Blachoni,  Michael Blachoni,  Stephanus Columbi pro se et Poncio Columbi eius fratre de Raschassaco,  Johannes de Aulamberio
               <b>et</b>
<b>Guillermusuillermus eius</b>
                (l. 80) frater,  Andreas Giri de Vileta,  Petrus de Rivieria pro se et Michaele et Johanne
               eius fratribus,  Anthonius de Chabanaas,  Poncius
               de Croso,  Andreas de Croso pro se et Peyruchono et <b>Andrenono eius</b>
                (l. 81)  fratribus,  Martinus de la Costa et Pascalis
               de la Costa pro se et
               Johanne eorum nepote,  Johannes de Jarrias et
               Bartholomeus de Jarrias,  Andreas de Jalibertas pro se et
               <b>Johanne
                  eius fratre</b>,   (l. 82) Jacobus de la Valleta,  Poncius filius Hugonis de la Valleta,  Vitalis de Spayetis pro se et Jacobo de Spayetis et Johanna filia
               Johannis de Spayetis condam,  Giraudus de Bargiis pro <b>se</b> et Ka<b>therina</b>
                (l. 83) eius sorore et
               Guigone filio
               Bartholomei de Bargiis condam,  Jacobus de Filatranna pro se et Arnaudo eius fratre, Petrus de Montabonello,  Jacobus Tavani pro se et Andrea
               <b>et Michaele eius</b>
                (l. 84) fratribus,  Bonafides Del
               Sape pro se et Bartholomeo eius fratre,  Johannes de Chanicros sive de Podio Brunent, 
               Guillermus de Gararytz,  Johannes Del Feu pro se et
               Gregorio <b>eius
                  fratre</b>,  <b>Poncius</b>
                (l. 85) de Chanils pro se et
               Johanne eius fratre,  Jacobus de Chanils pro se et
               Jacobo eius nepote,  Armandus de Bertos, Girardonus de
               <b>Bertos</b>,  Michael de Bertos pro se et
               Guillermo <b>eius fratre</b>,  <b>Johannes</b>
                (l. 86) et Peyruchonus Pastorelli de Bertos fratres,  Johannes de Frigidis Perietibus,  Peyruchonus Roerii de Ruppe pro se et
               Bartholomeo eius fratre ac
               Guillermo Barthi eius amiculo,  <b>Vitalis Verilhati pro</b>
                (l. 87) se et Durando eius
               consanguineo,  Johannes Jordani, 
               Vitalis de Varaytz de Villa Nova,  Johannes Pelhisserii, 
               Guillermus Pelhicerii,  Gregorius Pelhicerii pro se et fratribus
               suis,  <b>Petrus
                  Pelhiserii pro se</b>
                (l. 88) et Clemente Pelhicerii de Malagayta,  <b>Andreas</b> de Ruela,  Durandus Chantayres dicti loci,  Petronilla Conha pro se et liberis suis,  Johannes Garaytonis,  Michaletus <b><u>Saluavel</u></b>
<b><u>et</u></b>
<b>Johannes de Bargiis</b>,  <b>Petrus</b>
                (l. 89) de Bargiis et Guillermus de Ruella pro se et Girardo eius fratre
               homines licgii ut dicebant dicti domini preceptoris ac domus predicte de Devesseto  omnes <b>in
                  simul et quilibet eorum pro se et
                  quibus</b>
                (l. 90) supra nominibus singulariter, 
               singuli et particulariter pro se et suis heredibus ac
               successoribus universis certificati primitus de
               omnibus et singulis supra<b>dictis predictam</b>
               [transactionem]
               <b>et omnia et</b>
                (l. 91) singula supradicta laudaverunt,  approbaverunt grata
               et rata habuerunt et in eis consentierunt et predicta
               omnia et singula promisserunt sub ypotheca et <b>obligatione omnium bonorum suorum
                  et</b>
                (l. 92) super sanctis dei evvangeliis ab ipsis et
               eorum quolibet corporaliter sponte tactis juraverunt attendere et
               inviolabiliter observare et contra numquam facere vel <b><u>venire</u></b>,  [quod si faceret
               quod]
               <b>absit</b>
                (l. 93) voluerunt et concesserunt <b>quod in</b> judico et extra nullathenus audiantur sed quod eis et eorum cuilibet omnis audientia denegari valeat
               tamquam venientibus <b>contra eorum
                  facta propria ac etiam</b>
                (l. 94) juramenta ; volentes et concedentes omnes prenominati et eorum
               quilibet per se se posse et debere compelli ad
               attendendum omnia et singula supradicta per <b><u>curiam ordinariam dicti</u></b>
               [domini nostri]
                (l. 95) regis omnibus exceptionibus,  defentionibus et juris allegationibus post positis et remotis
               videlicet per bonorum suorum captionem, 
               distractionem,  saysinam et <b>venditionem in quam et quos</b>
                (l. 96) consentierunt tamquam in suos judices <b>ordinarios</b> et se et omnia bona
               sua juridictioni,  districtui,  compultioni
               et cohertioni eorumdem sub sigillo regio predicto
               [supposuit pro]
                (l. 97)  predictis omnibus et <b><u>singulis attendendis et perpetuo ac inv</u></b>iolabiliter
               observandis cum omni juris renunciationis ad predicta
               neccessaria pariter et cautela. </p>
<p>Acta <b>fuerunt hec apud  (l. 98) Bertos juxta
                  grangiam Armandeti dicti loci,  anno quo
                  supra</b> et die supra proxima,  testibus hiis presentibus Austorgio de Layresset, 
               Johanne Chalvayronis,  Petro Dulcis,  Guillermo [...]
               [et]
               <b><u>no-(l. 99)-tario</u></b>
               [publico]
               <b><u>regio
                     infrascripto</u></b> per <b><u>quem</u></b>
               [de predictis]
               <b><u>frater Raymundus</u></b>
               Alamandi ordinis hospitalis predicti
               petiit et predicti
               homines sibi concesserunt ac etiam
               petier<b>unt sibi fieri
                   (l. 100) et etiam concesserunt fieri
                  publicum instrumentum et publica instrumenta</b> ad utilitatem et comodum dominorum
               castri Sancti Aggripavi predictorum. </p>
</div>
<div id="#ratification_GdsVdD">
<p>6.</p>
<p>Post hec anno <b>domini quo supra et die decima</b>
                (l. 101) [...]
               [dicto domino Philippo rege
               francorum] regnante,  in persentia
               notarii
               supradicti et testium infrascriptorum
               personaliter constitutus Guillermus <b>sub de Villa Nova Devesseti homo licgius dicti domini
                  preceptoris et domus Devesseti
                  predicti</b>
                (l. 102)  certificatus de omnibus et singulis supradictis
               pro se et suis heredibus et sucessoribus universis
               <b>predictam
                  transactionem et omnia et singula
                  supra</b>[dicta laudavit et aprobavit grata et
               rata]
                (l. 103) <b>habuit et</b> in eis
               consentiit et predicta omnia et singula promisit sub
               ypotheca et obligatione <b>omnium
                  bonorum suorum et super sanctis dei avvangeliis ab
                  ipso corporaliter sponte tactis juravit
                  attendere</b>
                (l. 104) et contra non venire,  quod si faceret quod
               absit voluit et concessit quod in judicio et <b>extra nullathenus audiatur sed quod
                  omnis au</b>[dientia sibi denegari valeat tamquam
               venienti]
                (l. 105) <b><u>contra</u></b> suum proprium
               factum ac etiam juramentum ; volens et concedens se
               posse compelli <b>ad
                  attendendis predicta per curiam et curiales dicti
                  domini nostri regis in quam et quos consentiit</b>
                (l. 106) tamquam in <b>suos</b> judices ordinarios et se et omnia bona sua
               juridictioni,  districtui,  compultioni <b>et cohertioni eorumdem sub
                  sigillo regio predicto supposuit pro
                  predictis</b>
               [omnibus et]
               <b><u>singulis attendendis</u></b>
                (l. 107) et perpet<b><u>u</u></b>o ac
               inviolabiliter observandis cum omni juris renunciatione ad
               predicta <b>necessaria pariter et
                  cautela</b>. </p>
<p> (l. 108) <b>Acta fuerunt hec in
                  fracta Sanct
                  Aggripavi juxta</b>
<b>hospicio</b>
               Johannis Garralis,  testibus <b>hiis</b> presentibus Johanne Garralis,  Johanne Massoni de Romeriis,  Stephano Baiuli et notario publico <b>regio
                  predicto</b>
                (l. 109) per quem de <b>predictis omnibus et sin</b><b><u>gulisdictus Guillermus</u></b> petiit sibi fieri et etiam
               concessit fieri publicum instrumentum ad
               utilitatem et comodum <b><u>dominorum</u></b>
               Sancti <b>Agrippavi
                  predictorum</b>. </p>
</div>
<div id="#ratification_JdlCdC">
<p>7.</p>
<p> (l. 110) Post hec anno domini <b>millesimo</b>
               trecentesimo <b>tricesimo
                  quinto</b> videlicet die vicesima octava mensis
               mayii
               dicto domino Philippo rege francorum
               regnante,  in presentia notarii et testium <b>infrascriptorum</b>
                (l. 111) persornaliter constitutus Johannes de Las Chalins de <b><u>Chamarias</u></b> certificatus
               de omnibus et singulis supradictis pro se et
               suis heredibus ac successoribus universi
               predictam <b>transactionem et omnia et singula
                  sup</b>-(l. 112)-radicta laudavit et
               approbavit <b>grata</b> et
               rata habuit,  et in eis consentiit,  et predicta omnia
               et singula promisit bona fide sub hypotheca et
               obligatione omnium bonorum suorum et super sanctis dei
               <b>evvangeliis</b>
                (l. 113) ab ipso corporaliter sponte tactis juravit attendere et
               contra non venire,  quod si faceret quod absit voluit et
               concessit quod in judicio et extra nullathenus audiatur sed quod omnis audientia sibi <b>denegari</b>
                (l. 114) valeat tamquam venienti contra suum
               proprium factum ac etiam juramentum ; volens et
               concedens dictus
               Johannes se posse et debere compelli ad
               attendendum omnia supradicta per curiam et curiales
               dicti domini  (l. 115) nostri regis francorum videlicet per
               bonorum suorum captionem, 
               distractionem,  saysinam et
               venditionem in quam et quos consentiit tamquam in
               suos judices ordinarios et se et omnia bona <b>sua juridictioni, 
                  distric</b>-(l. 116)-tui,  compultioni et cohertioni eorumdem sub
               sigillo regio predicto supposuit pro predictis cum omni juris renunciatione ad predicta
               necessaria pariter et cautela. </p>
<p>Acta fuerunt hec <b>apud Sanctum
                  Aggripavum</b>
                (l. 117) in hospitio Guillermi Ariberui notarii regii anno et die supra
               proximis,  testibus hiis presentibus
               Guillermo Ariberui predicto,  Matheo Runerii,  predicto Bonafide Textoris et <b>notario</b>
               [publico]
               <b>regio</b>
<b><u>infra</u></b>-(l. 118)-scripto per quem
               de predictis dictus Johannes petiit sibi fieri <b>et etiam</b>
               concessit fieri publicum instrumentum
               ad opus ipsius et dominorum
               castri Sancti Aggripavi predictorum. </p>
</div>
<div id="#ratification_JdFdC">
<p>8.</p>
<p>Post <b><u>hec</u></b>
<b><u>anno domini</u></b>
                (l. 119) quo supra videlicet die vicesima nova mensis
               mayii
               dicto domino Philippo rege francorum
               regnante,  in presentia notarii et testium
               infrascriptorum persornaliter constitutus
               Jacobus <b>Fayni de Chalmariays</b>
<b>certif</b>-(l. 120)-ficatus ad plenum de omnibus et singulis
               supradictis pro se et suis heredibus ac
               successoribus universis predictam
               transactionem et omnia et singula supradicta
               laudavit,  approbavit <b><u>et
                     ratifficavit</u></b>
                (l. 121) et in eis consentiit et predicta omnia
               attendere et servare promisit sub hypotheca et obligatione
               omnium bonorum suorum et super sanct dei
               evvangeliis ab ipso corporaliter <b>tactis
                  juravit et contra non venire,  quod</b>
                (l. 122) si faceret quod absit voluit et
               concessit quod in judicio nullathenus audiatur sed quod omnis audientia sibi denegari valeat tamquam venienti
               contra suum proprium factum ac <b>etiam juramentum ; volens et con</b>-(l. 123)-cedens dictus Jacobus se
               posse et debere compelli attendendum omnia et
               singula supradicta per curiam et curiales dicti domini
               nostri regis videlicet per bonorum suorum
               captionem,  distractionem, 
               saysinam et <b>venditionem in quam</b>
                (l. 124) et quos consentiit tamquam in suos
               judices ordinarios et se et omnia et singula bona sua
               juridictioni,  districtui,  compultioni et cohertioni
               eorumdem sub  sigillo regio predicto <b>supposuit pro pre</b>-(l. 125)-dictis omnibus et singulis attendendis et inv<b>i</b>olabiliter observandis cum omni
               juris renunciatione ad predicta necessaria pariter et
               cautela. </p>
<p>Acta fuerunt hec apud Sanctum
               <b>Aggripavum</b>
<b>in</b>
<b>hospicio mei</b>
                (l. 126) notarii supra et infrascripti anno et
               die supra proximis,  testibus hiis presentibus Raymundo
               de Sahnna domicello,  dominis Humberto de Sorberio cononico Charasii et Bonifacio de <b><u>Po</u></b><b>zato presbiteris</b>
                (l. 127) et notario publico regio
               infrascripto per quem de predictis dictus Jacobus
               sibi fieri petiit et etiam fieri concessit
               publicum instrumentum ad opus eiusdem et
               dominorum castri Sancti <b>Aggripavi pre</b>-(l. 128)-dictorum. </p>
</div>
<div id="#ratification_JVdC">
<p>9.</p>
<p>Post hec anno,  die,  loco et
               testibus quibus supra proximis dicto domino Philippo rege francorum regnante in
               presentia notarii supra
               et infrascripti et testium proxime
               dictorum person<b><u>aliter</u></b>
                (l. 129) Johannes Verilhati de Chalmariays certificatus ad plenum ut dicebat de omnibus
               et singulis supradictis pro se et suis heredibus ac
               successoribus <b>universis</b> predictam transactionem et
               <b>omnia et singula
                  supra</b>-(l. 130)-dicta laudavit
               et approbavit rata <b>atque</b> grata
               habuit et in eis consentiit et predicta omnia sub hypotheca et
               obligatione omnium bonorum suorum
               promisit et <b><u>super
                     sanctis dei evvangeliis</u></b>
<b>ab ipso corporaliter sponte  (l. 131) tactis</b> juravit attendere <b>et servare</b> et contra non
               venire,  quod si <b>faceret</b> quod absit voluit et concessit
               quod in judicio et extra nullathenus audiatur <b>sed quod omnis audientia sibi
                  denegari valeat tamquam  (l. 132) venienti contra suum
                  proprium factum</b> ac etiam juramentum
               ; volens et concedens dictus Johannes
               se posse et debere compelli ad attendendum predicta per
               curiam et curiales <b>dicti domini
                  nostri regis videlicet pro bonorum suorum
                  captionem,   (l. 133) distractionem</b>,  saysinam
               et venditionem in quam et quos consentiit tamquam
               in suos judices ordinarios et se et omnia bona sua
               juridictioni,  districtui,  compultioni et
               cohertioni eorumdem nec <b>non et vigori et
                  districtui dicti sigilli  (l. 134) regii
                  supposuit</b> pro predictis omnibus et
               singulis attendendis et inviolabiliter observandis
               cum omni juris renunciatione ad predicta necessaria
               pariter et cautela. </p>
<p>Acta fuerunt hec anno,  die,  loco et testibus supra
               proximis,  et prefato
               ma[gi]stro Andrea Garralis <b>notario regio
                  predicto</b>
                (l. 135) <b>per quem de
                  predictis</b>
               dictus Johannes
               petiit et etiam fieri concessit publicum instrumentum ad
               opus eiusdem et dominorum castri
               Sancti Aggripavi predictorum
               qui predictis omnibus et <b>singulis presens fui  (l. 136) et predicta
                  omnia</b> et singula notarii. </p>
</div>
</div>
<p>De quibus quidem notis post decessum [...]
          (l. 137) [notarii]
         [ego Petrus]
         Ariberui clericus auctoritate regia [notarius] publicus
         comissarius deputatus in notis et protocollis
         predicti condam notarii,  hoc presens instrumentum publicum hiis
         [presentibus] pellibus pergameni simul [...] (l. 138) [...],  scripsi et [...] mea propria et signo meo quo utor consueto signavi
         in robur et testimonium omnium et singulorum
         premissorum. </p><span> (Variante AD69 48H 1671-3 : "De quibus notis hoc presens publicum instrumentum
         extrahi,  scribi et grossari feci perper
         Petrum Girardi clericum subscriptum et juratum meum auctoritate regis michi
         comissa et concessa,  facta
         collatione de nota cum hoc presens publico
         instrumento persone et [...] pietis et curiales datum
         ut supra. Cui ego jam dictis
         notarii manu mea proprius
         subscripsi signoque meo signavi et sigilo regio predicto
         sigillari debuit instrumentum prium
         premissorum. <a href="#fn2"> [2]</a>")</span><div style="margin-top: 2%;">
<p id="fn1">[1] Le mot semble ici avoir été rajouté postérieurement par une autre main. D’une lecture
            difficile, il ne renvoit à rien qui nous soit connu dans le contexte étudié.</p>
<p id="fn2">[2] Le document présente aussi quelques mots illisibles dans le coin inférieur droit.</p>
</div>
<nav aria-label="research-pagination" class="center-link"><p><a href="{{url_for('accueil')}}">Retour accueil</a></p></nav>{% endblock %}