{% extends "conteneur.html" %}
{% block corps %}
<h1>Bienvenue !</h1>
        <p>
            {% if hommes %}
                Il y a {{hommes|length }} enregistrés :
                <ul>
                    {% for homme in hommes %}
                        <li><a href="{{url_for('nom', name_id=homme.id)}}">{{homme.nom}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                La base de données est en cours de constitution
            {% endif %}
    </p>
{% endblock %}