{% extends "conteneur.html" %}
{% block corps %}
<h1>Bienvenue !</h1>
        <p>
            {% if hommes %}
                Il y a {{ hommes|length }} enregistrés :
                <ul>
                    {% for nom_id, homme in hommes.items() %}
                        <li><a href="{{url_for('nom', name_id=nom_id)}}">{{homme.nom}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                La base de données est en cours de constitution
            {% endif %}
    </p>
{% endblock %}