{% extends "conteneur.html" %}

{% block titre %}
    {%if det_red %}| Nom : {{det_red.id_detail_redevance}} | Modification {% endif %}
{% endblock %}

{% block corps %}
    {% if det_red %}
	{% if updated %}
	<div class="alert alert-success">
		<p>Modification enregistrée</p>
	</div>
{% endif %}
	<h1>Redevance n°{{det_red.id_detail_redevance}}</h1>
    <form method="POST" action="{{ url_for('det_red_update', dr_id=det_red.id_detail_redevance)}}">
		<div class="mb-3">
		    <label for="drReco" class="form-label">Reconnaissance :</label>
		    <input type="text" step="0.000001" name="drReco" class="form-control" id="drReco" value="{{det_red.id_reconnaissance}}" />
		  </div>
		  <div class="mb-3">
		    <label for="drPoules" class="form-label">Cens en poules :</label>
		    <input type="integer" step="0.000001" name="drPoules" class="form-control" id="drPoules" value="{{det_red.cens_en_poule}}" />
		  </div>
		  <div class="mb-3">
		    <label for="drSeigle" class="form-label">Cens en seigle (setiers) :</label>
		    <input type="integer" step="0.000001" name="drSeigle" class="form-control" id="drSeigle" value="{{det_red.totalSeigle}}" />
		  </div>
		  <div class="mb-3">
		    <label for="drAvoine" class="form-label">Cens en avoine (setiers) :</label>
		    <input type="integer" step="0.000001" name="drAvoine" class="form-control" id="drAvoine" value="{{det_red.totalAvoine}}" />
		  </div>
		  <div class="mb-3">
		    <label for="drMonnaie" class="form-label">Cens en monnaie (sous tournois) :</label>
		    <input type="integer" step="0.000001" name="drMonnaie" class="form-control" id="drMonnaie" value="{{det_red.total_monnaie}}" />
		  </div>
		  <div class="mb-3">
		    <label for="drBien" class="form-label">Biens ou taxes associés :</label>
		    <textarea name="drBien" class="form-control" id="drBien">{{det_red.pro}}</textarea>
		  </div>
		  <div class="mb-3">
		    <label for="drNom" class="form-label">Nom :</label>
		    <textarea name="drNom" class="form-control" id="drNom">{{det_red.nom}}</textarea>
		  </div>
		  <div class="mb-3">
		    <label for="drLieu" class="form-label">Emplacement :</label>
		    <textarea name="drLieu" class="form-control" id="drLieu">{{det_red.lieu}}</textarea>
		  </div>
		  <div class="mb-3">
		    <label for="drInfo" class="form-label">Information complémentaire :</label>
		    <textarea name="drInfo" class="form-control" id="drInfo">{{det_red.supplement}}</textarea>
		  </div>
		  <input type="submit" name="Modifier" class="btn btn-primary" />
    </form>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}