{% extends "conteneur.html" %}

{% block titre %}
    {%if det_pos %}| Detail sur possession : {{det_pos.id_detail_possession}} {% endif %}
{% endblock %}

{% block corps %}
        {% if det_pos %}
            <h1>Déclaration de bien n°{{det_pos.id_detail_possession}}</h1>
            <h2>Reconnaissance <a href="{{url_for('rec', rec_id=det_pos.id_reconnaissance)}}">{{det_pos.id_reconnaissance}}</a></h2>
            <dl>
                {% if det_pos.personne_concernee %}
                <dt>Personne concernée :<dt>
                <dd><a href="{{url_for('nom', name_id=det_pos.personne_concernee)}}">Proche du déclarant</a></h3>
                {% endif %}
                <dt>Type de bien :</dt><dd>{{det_pos.possession}}</dd>
                {% if det_pos.nom %}
                <dt>Nom du bien :</dt><dd>{{det_pos.nom}}</dd>
                {% endif %}
                {% if det_pos.lieu %}
                <dt>Localisation :</dt><dd>{{det_pos.lieu}}</dd>
                {% endif %}
                {% if det_pos.supplement %}
                <dt>Information complémentaire :</dt>
                <dd>{{det_pos.supplement}}</dd>
                {% endif %}
                {% if det_pos.confront1 %}
                    {% if det_pos.confront2%}
                    <dt>Confronts :</dt>
                    <ul>
                    <li>{{det_pos.confront1}}</li>
                    <li>{{det_pos.confront2}}</li>
                        {% if det_pos.confront3 %}
                        <li>{{det_pos.confront3}}</li>
                            {% if det_pos.confront4 %}
                            <li>{{det_pos.confront4}}</li>
                                {% if det_pos.confront5 %}
                                <li>{{det_pos.confront5}}</li>
                                    {% if det_pos.confront6 %}
                                    <li>{{det_pos.confront6}}</li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </ul>
                    {% else %}
                    <dt>Confront :</dt>
                    <dd>{{det_pos.confront1}}</dd>
                    {% endif %}
                {% endif %}
            </dl>
        {% else %}
            <p>La base de données est en cours de constitution</p>
        {% endif %}
        <p class="retour_accueil">
            {% if det_pos.id_detail_possession > 1 %}
            <a href="{{url_for('det_pos', dp_id=(det_pos.id_detail_possession - 1))}}">Page précédente</a>
            <-------------
            {% endif %}
            <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
            {% if det_pos.id_detail_possession < nbr %}
            ------------->
        <a href="{{url_for('det_pos', dp_id=(det_pos.id_detail_possession + 1))}}">Page suivante</a>
            {% endif %}
        </p>
    </body>
{% endblock %}