{% extends "conteneur.html" %}
{% block corps %}
<h1>Formulaire de recherche</h1>
<div class="hero jumbotron">
    <div class="container">
      <form class="form" action="{{url_for('recherche')}}" method="GET">
        <div class="mb-3">
            <label for="class" class="form-label">Je cherche un :</label>
            <select name="class" id="class">
                {% for attribut in attributs %}
                    <option value="{{attribut}}" {% if attribut == nom %}selected{% endif %}>
                        {{attribut}}
                    </option>
                {% endfor %}
            </select>
          </div>
      <div class="input-group">
        <input type="search" name="keyword" class="form-control form-control-lg" type="text" placeholder="Faire une recherche"/>
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" href="#" role="button">Rechercher</button>
        </span>
      </div>
  
      </form>
    </div>
  </div>
  <nav aria-label="research-pagination" style="position: absolute; bottom:0; left: 50%; transform: translate(-50%);">
    <p class="retour_accueil">
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </p>
    </nav>
{% endblock %}