{% extends "conteneur.html" %}
{% block corps %}
{% if updated %}
<div class="alert alert-success">
  <p>Modification enregistrée</p>
</div>
{% endif %}
<h1>Formulaire de recherche</h1>
<div>
    <p>Ce formulaire permet de chercher parmis les noms, prénoms et localités des déclarants du terrier de Devesset</p>
</div>
<div class="hero jumbotron" style="margin-bottom:5%">
    <div class="container">
      <form class="form" action="{{url_for('recherche')}}" method="GET">
        <div class="mb-3">
            <label for="class" class="form-label">Je cherche un(e) :</label>
            <select name="class" id="class">
                {% for attribut in attributs %}
                    <option value="{{attribut}}" {% if attribut == nom %}selected{% endif %}>
                        {{attribut}}
                    </option>
                {% endfor %}
            </select>
        </div>
      <div class="input-group">
        <input type="search" name="keyword" class="form-control form-control-lg" type="text" placeholder="Faire une recherche"/>
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" href="#" role="button">Rechercher</button>
        </span>
      </div>
      </form>
    </div>
  </div>
  <nav aria-label="research-pagination" class="center-link">
    <p>
        <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
    </p>
    </nav>
{% endblock %}