{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}
<h1>{{titre}}</h1>
<div style="float:right">
    <figure>
        <img src="{{url_for('static', filename='images/20200506_161738.jpg')}}" width="250px"/>
    </figure>
</div>
{% if resultats %}
<p>Il y a {{resultats.total}} éléments qui répondent à votre requête :</p>
<ul>
    {% for homme in resultats.items %}
    <li><a href="{{url_for('nom', name_id=homme.id)}}">                    
        {% if homme.prenom or homme.nom %}
          {% if homme.prenom %}    
          {{homme.prenom}}
          {% else %}
          (?)
          {% endif %}
          {% if homme.nom %}
          {{homme.nom}}
          {% else %}
          (?)
          {% endif %}
      {% else %}
      Nom(s) Inconnu(s)
      {% endif %}</a></li>
    {% endfor %}
</ul>
<nav aria-label="research-pagination" style="position: absolute; bottom:0; left: 50%; transform: translate(-50%);">
  <ul class="pagination">
    {%- for page in resultats.iter_pages() %}
        {% if page %}

          {% if page != resultats.page %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('recherche', keyword=keyword, page=page) }}">{{page}}</a>
            </li>
          {% else %}
            <li class="page-item active disabled">
              <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
            </li>
          {% endif %}

        {% else %}
            <li class="page-item disabled">
              <a class="page-link">...</a>
            </li>
        {% endif %}

    {%- endfor %}
  </ul>
</nav>
{% endif %}

{% endblock %}