{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}
<h1>{{titre}}</h1>
<div style="float:right">
    <figure>
        <img src="{{url_for('static', filename='images/20200506_161738.jpg')}}" width="250px"/>
    </figure>
</div>
{% if resultats %}
<p>Il y a {{resultats.total}} éléments qui répondent à votre requête (page {{page}}) :</p>
<ul>
    {% for homme in resultats %}
    <li><a href="{{url_for('nom', name_id=homme.id)}}">                    
        {% if homme.prenom or homme.nom %}
          {% if homme.prenom %}    
          {{homme.prenom}}
          {% else %}
          (?)
          {% endif %}
          {% if homme.nom %}
          {{homme.nom}}
          {% else %}
          (?)
          {% endif %}
      {% else %}
      Nom(s) Inconnu(s)
      {% endif %}</a></li>
    {% endfor %}
</ul>

<nav aria-label="research-pagination" style="position: absolute; bottom:0; left: 50%; transform: translate(-50%);">
    <p class="retour_accueil">
      {% if prev==True %}
      <a href="{{url_for('recherche', class=attribut, keyword=keyword, page=page - 1)}}">Page précédente</a>
      <-------------
      {% endif %}
      <a href="{{url_for('accueil')}}">Retour à l'accueil</a>
      {% if next==True %}
      ------------->
  <a href="{{url_for('recherche', class=attribut, keyword=keyword, page=page + 1)}}">Page suivante</a>
      {% endif %}
      </p>
</nav>
{% endif %}

{% endblock %}